<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Apadrinhar ONG - Ozanimais</title>

        <!-- Favicon -->
        <link rel="shortcut icon" href="/static/imagens/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/imagens/favicon.ico" type="image/x-icon">

        <!-- Swiper -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

        <!-- CSS -->
        <link rel="stylesheet" href="/static/styles/apadrinhar_ong.css">
    </head>

    <body>
        <header class="scrolled">
            <a id="ancora-logo-topo" href="/">
                <div class="logo_fundo">
                    <div class="logo">
                    </div>
                </div>
            </a>

            <nav>
                <div class="nav-mobile">
                    <div class="menu-hamburguer"></div>

                    <div class="menu-mobile hidden">
                        <ul>
                            <li><a href="/" onclick="delayRedirection(event, this)">Início</a></li>
                            <li><a href="/quem_somos" onclick="delayRedirection(event, this)">Quem somos</a></li>
                            <li><a href="/nossos_animais" onclick="delayRedirection(event, this)">Nossos animais</a></li>
                            <li><a href="/como_ajudar" onclick="delayRedirection(event, this)">Como ajudar</a></li>
                        </ul>
                    </div>
                    
                    <div class="logo"></div>
                    
                    <div class="doe-agora"><span>Doe agora</span></div>
                </div>
                
                <div class="nav-desktop">
                    <ul>
                        <li><a href="/">Início</a></li>
                        <li><a href="/quem_somos">Quem somos</a></li>
                        <li><a href="/nossos_animais">Nossos animais</a></li>
                        <li><button class="como-ajudar"><a id="btnComoAjudar" href="/como_ajudar">Como ajudar?</a></button></li>
                    </ul>
                </div> 
            </nav>
        </header>

        <main>
            <div id="cadastro-padrinho">
                <div class="infos-cadastro">
                    <h1>Apadrinhe a ONG</h1>
                    <p>Para se tornar um padrinho ou madrinha da ONG, preencha o formulário ao lado com seus dados. Ao se cadastrar, você receberá mensalmente uma cobrança de R$ 5,00.</p>
                </div>

                <div class="formulario-cadastro">
                    <form id="cadastro">
                        <div id="nome-completo" class="inputs">
                            <div class="input div-nome">
                                <input type="text" name="nome" id="nome"  placeholder='Nome*' maxlength=255 required>
                                <p class="msg-erro nome-invalido"></p>
                            </div>

                            <div class="input div-sobrenome">
                                <input type="text" name="sobrenome" id="sobrenome"  placeholder='Sobrenome*' maxlength=255 required>
                                <p class="msg-erro sobrenome-invalido"></p>
                            </div>
                        </div>
            
                        <div id="contato" class="inputs">
                            <div class="input div-email">
                                <input type="email" name="email" id="email" placeholder='Email*' maxlength=255 required>

                                <p class="msg-erro email-invalido"></p>
                            </div>
                            
                            <div class="input div-telefone">
                                <input type="tel" name="telefone" id="telefone" placeholder='Telefone*' required>

                                <p class="msg-erro tel-invalido"></p>
                            </div>
                            
                        </div>

                        <div class="declaracao">
                            <input type="radio" id="radio-declaracao" name="radio-declaracao" required>

                            <label for="radio-declaracao">Estou ciente de que a doação será cobrada automaticamente todo mês.*</label>

                            <p class="msg-erro declaracao-unchecked"></p>
                        </div>

                        <button id="cadastrar"><span>Se cadastrar</span></button>

                        <p id="info-asterisco">* Indica um campo obrigatório</p>
                    </form>
                </div>
            </div>
        </main>

        <footer>
            <div id="footer-container">
                <div id="footer-ancoras">
                    <div class="footer-section institucional">
                        <h2>Institucional</h2>
                        <ul>
                            <li><a href="/" onclick="delayRedirection(event, this)">Início</a></li>
                            <li><a href="/quem_somos" onclick="delayRedirection(event, this)">Quem somos</a></li>
                            <li><a href="/nossos_animais" onclick="delayRedirection(event, this)">Nossos animais</a></li>
                            <li><a href="/como_ajudar" onclick="delayRedirection(event, this)">Como ajudar</a></li>
                            <li><a href="/area_restrita" onclick="delayRedirection(event, this)">Área Restrita</a></li>
                        </ul>
                    </div>
        
                    <div class="footer-section colabore">
                        <h2>Colabore</h2>
                        <ul>
                            <li><a href="/doar_agora" onclick="delayRedirection(event, this)">Doe qualquer valor</a></li>
                            <li><a href="#" onclick="delayRedirection(event, this)">Apadrinhe a ONG</a></li>
                        </ul>
                    </div>
        
                    <div class="footer-section contato">
                        <h2>Contato</h2>
                        <ul>
                            <li><a href="mailto:ozanimais.ong@gmail.com" onclick="delayRedirection(event, this)"><ion-icon name="mail-outline"></ion-icon>ozanimais.ong@gmail.com</a></li>
                            <li><a href="https://api.whatsapp.com/send?phone=5521996967377" onclick="delayRedirection(event, this)"><ion-icon name="logo-whatsapp"></ion-icon>(21) 99696-7377</a></li>
                        </ul>
                    </div>
        
                    <div class="footer-section redes-sociais">
                        <h2>Redes Sociais</h2>
                        <ul>
                            <li><a href="https://www.facebook.com/ozanimais/" onclick="delayRedirection(event, this)"><ion-icon name="logo-facebook"></ion-icon>ozanimais</a></li>
                            <li><a href="https://www.instagram.com/ong.ozanimais/" onclick="delayRedirection(event, this)"><ion-icon name="logo-instagram"></ion-icon>ong.ozanimais</a></li>
                        </ul>
                    </div>
                </div>

                <a id="ancora-logo-footer" href="/">
                    <div class="logo_fundo">
                        <div class="logo"></div>
                    </div>
                </a>
            </div>

            <div id="footer-bottom">
                <p>Ozanimais &copy; 2024. Todos os direitos reservados.</p>
            </div>

        </footer>

        <!-- Ioicons -->
        <script  type="module"  src ="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" ></script> 
        <script  nomodule  src ="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

        <!-- Swiper -->
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

        <!-- jQuery Mask Plugin -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>

        
        <!-- Script do menu hamburguer -->
        <script src="/static/scripts/menu_hamburguer.js"></script>

        <!-- Script principal -->
        <script src="/static/scripts/apadrinhar_ong.js"></script>
    </body>

</html>