<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Como ajudar? - Ozanimais</title>

        <!-- Favicon -->
        <link rel="shortcut icon" href="/static/imagens/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/imagens/favicon.ico" type="image/x-icon">

        <!-- Remixicons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin=""/>

        <!-- Swiper -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

        <!-- CSS -->
        <link rel="stylesheet" href="/static/styles/como_ajudar.css">
    </head>

    <body>
        <header class="scrolled">
            <a id="ancora-logo-topo" href="/">
                <div class="logo_fundo">
                    <div class="logo">
                    </div>
                </div>
            </a>

            <nav>
                <div class="nav-mobile">
                    <div class="menu-hamburguer">
                        <ion-icon name="menu-outline"></ion-icon>
                    </div>
                    
                    <div class="logo"></div>
                    
                    <div class="doe-agora"><span>Doe agora</span></div>
                </div>
                
                <div class="nav-desktop">
                    <ul>
                        <li><a href="/">Início</a></li>
                        <li><a href="/quem_somos">Quem somos</a></li>
                        <li><a href="/nossos_animais">Nossos animais</a></li>
                        <li><button class="como-ajudar"><a id="btnComoAjudar" href="#">Como ajudar?</a></button></li>
                    </ul>
                </div> 
            </nav>
        </header>

        <main>
            <div id="topo-main"></div>

            <div id="itens-essenciais">
                <div class="topo">
                    <h1>Doações de itens essenciais</h1>
                    <p>A ONG Ozanimais precisa de:</p>
                </div>

                <div id="categorias">
                    <div id="topo-categorias">
                        <div class="categoria alimentacao">
                            <div class="introducao">
                                <div class="icon">
                                    <img src="/static/imagens/pet-food.png">
                                </div>
                                <h3 class="topico">Ração e alimentação</h3>
                            </div>
    
                            <div class="detalhes-categoria">
                                <p>Você pode doar:</p>
    
                                <ul>
                                    <li>Sacos de ração</li>
                                    <li>Sachês de patê para cães</li>
                                    <li>Arroz</li>
                                    <li>Macarrão</li>
                                    <li>Sacos de milho picado</li>
                                    <li>Óleo de cozinha</li>
                                </ul>
                            </div>
                        </div>
    
                        <div class="categoria limpeza">
                            <div class="introducao">
                                <div class="icon">
                                    <img src="/static/imagens/cleaning-products.png">
                                </div>
                                <h3 class="topico">Produtos de higiene e limpeza</h3>
                            </div>
    
                            <div class="detalhes-categoria">
                                <p>Você pode doar:</p>
    
                                <ul>
                                    <li>Água sanitária</li>
                                    <li>Sabão em pó</li>
                                    <li>Sabão de coco</li>
                                    <li>Detergente</li>
                                    <li>Sacos de lixo de 100L ou 200L</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div id="fundo-categorias">
                        <div class="categoria medicamentos">
                            <div class="introducao">
                                <div class="icon">
                                    <img src="/static/imagens/medicine.png">
                                </div>

                                <h3 class="topico">Medicamentos veterinários básicos</h3>
                            </div>
    
                            <div class="detalhes-categoria">
                                <p>Você pode doar:</p>
    
                                <ul>
                                    <li>Antipulgas e carrapaticidas</li>
                                    <li>Vermífugos</li>
                                    <li>Anti-inflamatórios</li>
                                </ul>
                            </div>
                        </div>
    
                        <div class="categoria suporte">
                            <div class="introducao">
                                <div class="icon">
                                    <img src="/static/imagens/pet-care.png">
                                </div>
                                <h3 class="topico">Produtos de suporte e proteção</h3>
                            </div>
    
                            <div class="detalhes-categoria">
                                <p>Você pode doar:</p>
    
                                <ul>
                                    <li>Roupas</li>
                                    <li>Cobertores</li>
                                    <li>Jornais</li>
                                    <li>Brinquedos</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="doar-dinheiro">
                <div class="topo">
                    <h1>Doações via pix ou boletos</h1>
                </div>
            </div>
        </main>

        <!-- Ioicons -->
        <script  type="module"  src ="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" ></script> 
        <script  nomodule  src ="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

        <!-- Swiper -->
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

        <!-- <script src="/static/scripts/como_ajudar.js"></script> -->
    </body>

</html>