<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Despesas - Ozanimais</title>

        <!-- Favicon -->
        <link rel="shortcut icon" href="/static/imagens/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/imagens/favicon.ico" type="image/x-icon">

        <!-- Remixicons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin=""/>

        <!-- CSS -->
        <link rel="stylesheet" href="static/styles/despesas_sistema.css">
    </head>

    <body class="body-despesa">
        <header>
            <nav>
                <ul>
                    <li><i class="ri-home-2-line"></i><a href="/home_sistema" onclick="delayRedirection(event, this)">Início</a></li>
                    <li><i class="ri-team-line"></i></i><a href="" onclick="delayRedirection(event, this)">Usuários</a></li>
                    <li><img src="/static/imagens/icon_dogs.png"><a href="/cachorro" onclick="delayRedirection(event, this)">Animais</a></li>
                    <li><img src="/static/imagens/icon_despesas.png"><a href="#" onclick="delayRedirection(event, this); resetarLayout();">Despesas</a></li>
                    <li><i class="ri-user-heart-line"></i><a href="" onclick="delayRedirection(event, this)">Padrinhos</a></li>
                    <li><i class="ri-megaphone-line"></i></i><a href="" onclick="delayRedirection(event, this)">Assinantes</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <div id="menu-despesas">
                <h1>Selecione uma opção</h1>

                <div id="opcoes">
                    <button id="exibir-cadastro-despesa"><span>Cadastrar despesa</span></button>
                    <button id="exibir-despesas"><span>Exibir todas as despesas</span></button>
                </div>
            </div>

            <div id="cadastrar-despesa" style="display: none;">
                <div class="btn-voltar" onclick="resetarLayout()">
                    <div class="icon-voltar">
                        <i class="ri-arrow-left-s-line"></i>
                    </div>
                </div>

                <h1>Cadastrar despesa</h1>

                <!-- {% set mensagem = get_flashed_messages()%}
                {% if mensagem %}
                <div class="mensagem_flash">
                    {{mensagem[0]}}
                </div>
                {% endif %} -->

                <form action ='/cadastrar_despesa' method='post' id='form-cadastrar-despesa'>
                    <div class="div-input" id="input-nome">
                        <label for="nome_despesa">Nome:</label>
                        <input type="text" name="nome_despesa" id="nome_despesa" placeholder="Digite o nome da despesa">
                    </div>

                    <div class="div-input" id="input-data">
                        <label for="data_despesa">Data: </label>
                        <input type="date" name="data_despesa" id="data_despesa" placeholder="Digite aqui a data">
                    </div>

                    <div class="div-input" id="input-valor">
                        <label for="valor_despesa">Valor: </label>
                        <input type="number" name = "valor_despesa" id="valor_despesa" placeholder="Digite o valor">
                    </div>

                    <div class="div-input" id="input-descricao">
                        <label for="descricao_despesa">Descrição:</label>
                        <textarea rows = "10" cols = "30" placeholder="Digite a descrição da despesa" id= "descricao_despesa" name = "descricao_despesa"></textarea>
                    </div>
                    
                    <button type="submit" id="btn-cadastrar-despesa"><span>Cadastrar</span></button>
                </form>
            </div>

            <div id="despesas-frente" style="display: none;">
                <div class="btn-voltar" onclick="resetarLayout()">
                    <div class="icon-voltar">
                        <i class="ri-arrow-left-s-line"></i>
                    </div>
                </div>

                <h1 id="despesas-cad">Despesas cadastradas</h1>

                <div id="despesas-fundo">
                    <!-- {% if despesa %}
                        {% for i in despesa%}
                        
                        <form action="/excluir_despesa" method="post" id="dados-despesa">
                            <h3>{{ i.nome_despesa }}</h3>

                            <ul id="lista">
                                <input type="hidden" name="idDespesa" value="{{i.id_despesa}}">
                                <input type="hidden" name="descricao_despesa" value="{{i.descricao_despesa}}">
                                <li>Data: {{i.data_despesa}}</li>
                                <li>Valor: {{i.valor_despesa}}</li>
                                <li>Descrição: {{i.descricao_despesa}}</li>
                            </ul>
                            <div id="btnExcluir">
                                <button type="submit" id="excluir"><span>Excluir</span></button>
                            </div>
                        </form>

                        {% endfor %}

                    {% else %}
                        <p>Ainda não há despesas cadastradas.</p>
                    {% endif %} -->
                </div>
            </div>
        </main>

        <!-- Ionicons -->
        <script  type="module"  src ="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" ></script> 
        <script  nomodule  src ="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

        <!-- Script principal -->
        <script src="/static/scripts/despesas_sistema.js"></script> 
         
    </body>
</html>