<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sistema - Ozanimais</title>

        <!-- Favicon -->
        <link rel="shortcut icon" href="/static/imagens/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/imagens/favicon.ico" type="image/x-icon">

        <!-- Remixicons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin=""/>

        <!-- CSS -->
        <link rel="stylesheet" href="/static/styles/home_sistema.css">
    </head>

    <body>
        <header>
            <div class="menu-hamburguer">
            </div>

            <nav>
                <ul>
                    <li>
                        <a href="#" onclick="delayRedirection(event, this)">
                            <i class="ri-home-2-line"></i>
                            <span>Início</span>
                        </a>
                    </li>

                    <li>
                        <a href="/usuarios" onclick="delayRedirection(event, this)">
                            <i class="ri-team-line"></i>
                            <span>Usuários</span>
                        </a>
                    </li>

                    <li>
                        <a href="/cachorro" onclick="delayRedirection(event, this)">
                            <img src="/static/imagens/icon-dogs-branco.png">
                            <span>Animais</span>
                        </a>
                    </li>

                    <li>
                        <a href="/despesas" onclick="delayRedirection(event, this)">
                            <img src="/static/imagens/icon-despesas-branco.png">
                            <span>Despesas</span>
                        </a>
                    </li>

                    <li>
                        <a href="/padrinhos" onclick="delayRedirection(event, this)">
                            <i class="ri-user-heart-line"></i>
                            <span>Padrinhos</span>
                        </a>
                    </li>

                    <li>
                        <a href="" onclick="delayRedirection(event, this)">
                            <i class="ri-megaphone-line"></i>
                            <span>Assinantes</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>

        <main>
            <h1 id="titulo">Olá! O que gostaria de acessar?</h1>
        </main>
        
        <!-- Ionicons -->
        <script  type="module"  src ="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" ></script> 
        <script  nomodule  src ="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

        <!-- Script do menu -->
        <script src="/static/scripts/menu_sistema.js"></script>

        <!-- Script principal -->
        <script src="/static/scripts/home_sistema.js"></script>
    </body>

</html>