<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sistema - Ozanimais</title>

        <!-- Favicon -->
        <link rel="shortcut icon" href="/static/imagens/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/imagens/favicon.ico" type="image/x-icon">

        <!-- Remixicons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin=""/>

        <!-- CSS -->
        <link rel="stylesheet" href="/static/styles/home_sistema.css">
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li><i class="ri-home-2-line"></i><a href="/home_sistema" onclick="delayRedirection(event, this)">Início</a></li>
                    <li><i class="ri-team-line"></i></i><a href="" onclick="delayRedirection(event, this)">Usuários</a></li>
                    <li><img src="/static/imagens/icon_dogs.png"><a href="/cachorro" onclick="delayRedirection(event, this)">Animais</a></li>
                    <li><img src="/static/imagens/icon_despesas.png"><a href="/despesas" onclick="delayRedirection(event, this)">Despesas</a></li>
                    <li><i class="ri-user-heart-line"></i><a href="" onclick="delayRedirection(event, this)">Padrinhos</a></li>
                    <li><i class="ri-megaphone-line"></i></i><a href="" onclick="delayRedirection(event, this)">Assinantes</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <div class="titulo">
                <h1>Olá! O que gostaria de acessar?</h1>
            </div>

            <div class="tabelas">
                <div class="dog"> 
                    <h2 class="h2-autenticacao">Cachorros</h2>
                    <a href="/cachorro">
                        
                        <img src="/static/imagens/cachorro.png"/>
                        <!-- <button class="bt_tabelas"><a href="/cachorro">Cachorro</a></button> -->
                    </a>
                </div>
                    
                <div class="des">
                    <h2 class="h2-autenticacao">Despesas</h2>
                    <a href="/despesas">
                    <img src="/static/imagens/des.jpg"/>
                    <!-- <button class="bt_tabelas"><a href="/despesas">Despesas</a></button> -->
                    </a>
                </div>
            </div>
        </main>
        
        <!-- Ionicons -->
        <script  type="module"  src ="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" ></script> 
        <script  nomodule  src ="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

        <!-- Script principal -->
        <script src="/static/scripts/home_sistema.js"></script>
    </body>

</html>