<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nossos animais - Ozanimais</title>

        <!-- Favicon -->
        <link rel="shortcut icon" href="/static/imagens/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/imagens/favicon.ico" type="image/x-icon">

        <!-- Swiper -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

        <!-- CSS -->
        <link rel="stylesheet" href="/static/styles/nossos_animais.css">
    </head>

    <body>
        <header class="scrolled">
            <a id="ancora-logo-topo" href="/">
                <div class="logo_fundo">
                    <div class="logo">
                    </div>
                </div>
            </a>

            <nav>
                <div class="nav-mobile">
                    <div class="menu-hamburguer"></div>

                    <div class="menu-mobile hidden">
                        <ul>
                            <li><span onclick="redirecionar('/')">Início</span></li>
                            <li><span onclick="redirecionar('/quem_somos')">Quem somos</span></li>
                            <li><span onclick="redirecionar('#')">Nossos animais</span></li>
                            <li><span onclick="redirecionar('/como_ajudar')">Como ajudar</span></li>
                        </ul>
                    </div>
                    
                    <div class="logo"></div>
                    
                    <div class="doe-agora"><span>Doe agora</span></div>
                </div>
                
                <div class="nav-desktop">
                    <ul>
                        <li><a href="/">Início</a></li>
                        <li><a href="/quem_somos">Quem somos</a></li>
                        <li><a href="#">Nossos animais</a></li>
                        <li><button class="como-ajudar"><a id="btnComoAjudar" href="/como_ajudar">Como ajudar?</a></button></li>
                    </ul>
                </div> 
            </nav>
        </header>

        <main></main>

        <!-- Ioicons -->
        <script  type="module"  src ="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" ></script> 
        <script  nomodule  src ="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

        <!-- Swiper -->
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

        <!-- Script do menu hamburguer -->
        <script src="/static/scripts/menu_hamburguer.js"></script>
        
        <!-- Script principal -->
        <!-- <script src="/static/scripts/nossos_animais.js"></script> -->
    </body>

</html>