<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nossos animais - Ozanimais</title>

        <!-- Favicon -->
        <link rel="shortcut icon" href="/static/imagens/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/imagens/favicon.ico" type="image/x-icon">

        <!-- Remixicons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin=""/>

        <!-- Swiper -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

        <!-- CSS -->
        <link rel="stylesheet" href="/static/styles/nossos_animais.css">
    </head>

    <body>
        <header class="scrolled">
            <a id="ancora-logo-topo" href="/">
                <div class="logo_fundo">
                    <div class="logo">
                    </div>
                </div>
            </a>

            <nav>
                <div class="nav-mobile">
                    <div class="menu-hamburguer"></div>

                    <div class="menu-mobile hidden">
                        <ul>
                            <li><a href="/" onclick="delayRedirection(event, this)">Início</a></li>
                            <li><a href="/quem_somos" onclick="delayRedirection(event, this)">Quem somos</a></li>
                            <li><a href="#" onclick="delayRedirection(event, this)">Nossos animais</a></li>
                            <li><a href="/como_ajudar" onclick="delayRedirection(event, this)">Como ajudar</a></li>
                        </ul>
                    </div>
                    
                    <div class="logo"></div>
                    
                    <div class="doe-agora"><span>Doe agora</span></div>
                </div>
                
                <div class="nav-desktop">
                    <ul>
                        <li><a href="/">Início</a></li>
                        <li><a href="/quem_somos">Quem somos</a></li>
                        <li><a href="#">Nossos animais</a></li>
                        <li><button class="como-ajudar"><a id="btnComoAjudar" href="/como_ajudar">Como ajudar?</a></button></li>
                    </ul>
                </div> 
            </nav>
        </header>

        <main>
            <h1 id="titulo-principal">Conheça alguns dos nossos animais</h1>

            <div class="animais">
                <div class="animal animal1">
                    <div class="img-animal">
                        <img src="/static/imagens/vida.png">
                    </div>

                    <h2 class="nome-animal">Vida</h2>

                    <div class="infos-animal">
                        <p class="sexo">Fêmea</p>
                        <p class="raca">Buldogue francês</p>
                        <p class="idade">8 anos</p>
                        <p class="tempo-ong">Na ONG desde: 2018</p>
                    </div>

                    <button class="conhecer" onclick="mostrarAnimal('animal-Vida')"><span>Conhecer</span></button>
                </div>

                <div class="animal animal2">
                    <div class="img-animal">
                        <img src="/static/imagens/dog2.png">
                    </div>

                    <h2 class="nome-animal">Nome</h2>

                    <div class="infos-animal">
                        <p class="sexo">Sexo</p>
                        <p class="raca">Raça</p>
                        <p class="idade">Idade</p>
                        <p class="tempo-ong">Na ONG desde:</p>
                    </div>

                    <button class="conhecer"><span>Conhecer</span></button>
                </div>

                <div class="animal animal3">
                    <div class="img-animal">
                        <img src="/static/imagens/dog3.png">
                    </div>

                    <h2 class="nome-animal">Nome</h2>

                    <div class="infos-animal">
                        <p class="sexo">Sexo</p>
                        <p class="raca">Raça</p>
                        <p class="idade">Idade</p>
                        <p class="tempo-ong">Na ONG desde:</p>
                    </div>

                    <button class="conhecer"><span>Conhecer</span></button>
                </div>

                <div class="animal animal4">
                    <div class="img-animal">
                        <img src="/static/imagens/dog4.png">
                    </div>

                    <h2 class="nome-animal">Nome</h2>

                    <div class="infos-animal">
                        <p class="sexo">Sexo</p>
                        <p class="raca">Raça</p>
                        <p class="idade">Idade</p>
                        <p class="tempo-ong">Na ONG desde:</p>
                    </div>

                    <button class="conhecer"><span>Conhecer</span></button>
                </div>

                <div class="animal animal5">
                    <div class="img-animal">
                        <img src="/static/imagens/dog5.png">
                    </div>

                    <h2 class="nome-animal">Nome</h2>

                    <div class="infos-animal">
                        <p class="sexo">Sexo</p>
                        <p class="raca">Raça</p>
                        <p class="idade">Idade</p>
                        <p class="tempo-ong">Na ONG desde:</p>
                    </div>

                    <button class="conhecer"><span>Conhecer</span></button>
                </div>

                <div class="animal animal6">
                    <div class="img-animal">
                        <img src="/static/imagens/dog6.png">
                    </div>

                    <h2 class="nome-animal">Nome</h2>

                    <div class="infos-animal">
                        <p class="sexo">Sexo</p>
                        <p class="raca">Raça</p>
                        <p class="idade">Idade</p>
                        <p class="tempo-ong">Na ONG desde:</p>
                    </div>

                    <button class="conhecer"><span>Conhecer</span></button>
                </div>
            </div>

            <div id="animal-Vida" style="display: none;">
                <div class="swiperVida swiper">

                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="/static/imagens/vida-capa.png" alt="Slide 1"></div>
                        <div class="swiper-slide"><img src="/static/imagens/vida2.png" alt="Slide 2"></div>
                        <div class="swiper-slide"><img src="/static/imagens/vida3.png" alt="Slide 3"></div>
                        <div class="swiper-slide"><img src="/static/imagens/vida5.png" alt="Slide 4"></div>
                        <div class="swiper-slide"><img src="/static/imagens/vida6.png" alt="Slide 5"></div>
                    </div>
    
                    <div class="swiper-pagination"></div>
                </div>

                <div id="historia-Vida">
                    <h1>Vida</h1>

                    <div id="resumo">
                        <p>Em 2018, tive hérnia de disco e fiquei paralítica. Meu antigo papai, 
                            que era patrão da minha atual mamãe, pediu ajuda a ela porque sabia do amor 
                            incondicional que ela tem pelos animais. Ela cuidou de mim por dois meses, fazendo 
                            vários tratamentos para eu voltar a andar. Fisioterapia, hidroterapia, acupuntura... 
                            foram tantos procedimentos que mal me lembro de todos. Mas meu papai desistiu de mim e disse que, 
                            se minha mamãe não ficasse comigo, ele me faria eutanásia.</p>
                        <p>Minha mamãe, representante de vendas, não podia 
                            ficar comigo, pois estava sempre na estrada. Com medo de perder o emprego, ela me devolveu, achando que 
                            ele não faria maldade comigo. No dia seguinte, meu papai me levou para uma clínica para me colocar 
                            para dormir para sempre. Por sorte, minha mamãe descobriu e, desesperada, abandonou 
                            tudo para me salvar a tempo. Foi um milagre!</p>
                        <p>
                            Depois de um tempo, as coisas ficaram difíceis de novo. Meu ex-papai mudou o jeito de mamãe trabalhar, 
                            passando de um horário flexível para um horário fixo. Isso complicou tudo, porque mamãe dependia de 
                            duas pessoas de confiança para ficar comigo, e elas não podiam estar comigo o tempo todo.
                            Ela tentou  de tudo para negociar com ele, até mesmo abrir mão de benefícios e aceitar trabalhar apenas 
                            por comissão, mas ele não aceitou. No final, mamãe teve que tomar uma decisão difícil: deixar o trabalho 
                            para cuidar de mim. E agora, graças a ela, tenho uma vida feliz ao lado de muitos outros amiguinhos 
                            cãezinhos que ela cuida com tanto amor. Sou muito grata por ter uma mamãe tão especial.
                        </p>
                    </div>
                </div>

                <div id="btn-voltar" onclick="voltarParaPaginaNormal()">
                    <div class="icon-voltar">
                        <i class="ri-arrow-left-s-line"></i>
                    </div>
                </div>
            </div>

            <div id="newsletter">
                <h1 id="h1-newsletter">Assine nossa newsletter e fique por dentro das últimas notícias da ONG</h1>

                <form>
                    <input id="nome-completo" name="nome-completo" type="text" placeholder="Nome completo"/>
                    <div id="input-wrapper">
                        <input id="email" name="email" type="email" placeholder="E-mail"/>
                        <div class="assinar"><span>Assinar</span></div>
                    </div>   
                </form>
            </div>
        </main>

        <footer>
            <div id="footer-container">
                <div id="footer-ancoras">
                    <div class="footer-section institucional">
                        <h2>Institucional</h2>
                        <ul>
                            <li><a href="/" onclick="delayRedirection(event, this)">Início</a></li>
                            <li><a href="/quem_somos" onclick="delayRedirection(event, this)">Quem somos</a></li>
                            <li><a href="#" onclick="delayRedirection(event, this)">Nossos animais</a></li>
                            <li><a href="/como_ajudar" onclick="delayRedirection(event, this)">Como ajudar</a></li>
                            <li><a href="/area_restrita" onclick="delayRedirection(event, this)">Área Restrita</a></li>
                        </ul>
                    </div>
        
                    <div class="footer-section colabore">
                        <h2>Colabore</h2>
                        <ul>
                            <li><a href="/doar_agora" onclick="delayRedirection(event, this)">Doe qualquer valor</a></li>
                            <li><a href="/apadrinhar_ong" onclick="delayRedirection(event, this)">Apadrinhe a ONG</a></li>
                            <!-- <li><a>Seja voluntário</a></li> -->
                        </ul>
                    </div>
        
                    <div class="footer-section contato">
                        <h2>Contato</h2>
                        <ul>
                            <li><a href="mailto:ozanimais.ong@gmail.com" onclick="delayRedirection(event, this)"><ion-icon name="mail-outline"></ion-icon>ozanimais.ong@gmail.com</a></li>
                            <li><a href="https://api.whatsapp.com/send?phone=5521996967377" onclick="delayRedirection(event, this)"><ion-icon name="logo-whatsapp"></ion-icon>(21) 99696-7377</a></li>
                        </ul>
                    </div>
        
                    <div class="footer-section redes-sociais">
                        <h2>Redes Sociais</h2>
                        <ul>
                            <li><a href="https://www.facebook.com/ozanimais/" onclick="delayRedirection(event, this)"><ion-icon name="logo-facebook"></ion-icon>ozanimais</a></li>
                            <li><a href="https://www.instagram.com/ong.ozanimais/" onclick="delayRedirection(event, this)"><ion-icon name="logo-instagram"></ion-icon>ong.ozanimais</a></li>
                        </ul>
                    </div>
                </div>

                <a id="ancora-logo-footer" href="/">
                    <div class="logo_fundo">
                        <div class="logo"></div>
                    </div>
                </a>
            </div>

            <div id="footer-bottom">
                <p>Ozanimais &copy; 2024. Todos os direitos reservados.</p>
            </div>

        </footer>

        <!-- Ioicons -->
        <script  type="module"  src ="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" ></script> 
        <script  nomodule  src ="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

        <!-- Swiper -->
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

        <!-- Script do menu hamburguer -->
        <script src="/static/scripts/menu_hamburguer.js"></script>
        
        <!-- Script principal -->
        <script src="/static/scripts/nossos_animais.js"></script>
    </body>

</html>