<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Padrinhos - Ozanimais</title>

        <!-- Favicon -->
        <link rel="shortcut icon" href="/static/imagens/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/imagens/favicon.ico" type="image/x-icon">

        <!-- Remixicons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin=""/>

        <!-- CSS -->
        <link rel="stylesheet" href="/static/styles/padrinhos_sistema.css">
    </head>

    <body>
        <header>
            <div class="menu-hamburguer">
            </div>

            <nav>
                <ul>
                    <li>
                        <a href="/home_sistema" onclick="delayRedirection(event, this)">
                            <i class="ri-home-2-line"></i>
                            <span>Início</span>
                        </a>
                    </li>

                    <li>
                        <a href="" onclick="delayRedirection(event, this)">
                            <i class="ri-team-line"></i>
                            <span>Usuários</span>
                        </a>
                    </li>

                    <li>
                        <a href="/cachorro" onclick="delayRedirection(event, this)">
                            <img src="/static/imagens/icon-dogs-branco.png">
                            <span>Animais</span>
                        </a>
                    </li>

                    <li>
                        <a href="/despesas" onclick="delayRedirection(event, this)">
                            <img src="/static/imagens/icon-despesas-branco.png">
                            <span>Despesas</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" onclick="delayRedirection(event, this); resetarLayout();">
                            <i class="ri-user-heart-line"></i>
                            <span>Padrinhos</span>
                        </a>
                    </li>

                    <li>
                        <a href="" onclick="delayRedirection(event, this)">
                            <i class="ri-megaphone-line"></i>
                            <span>Assinantes</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>

        <main>
            <div id="menu-padrinho">
                <h1>Selecione uma opção</h1>

                <div id="opcoes">
                    <button id="exibir-cadastro-padrinho"><span>Cadastrar padrinho</span></button>
                    <button id="exibir-padrinhos"><span>Exibir todos os padrinhos</span></button>
                </div>
            </div>

            <div id="cadastrar-padrinho" style="display: none;">
                <div class="btn-voltar btn1" onclick="resetarLayout()">
                    <div class="icon-voltar">
                        <i class="ri-arrow-left-s-line"></i>
                    </div>
                </div>

                <h1>Cadastrar Padrinho</h1>

                <form action="/cadastrar_padrinho_restrito" method="post" id="form-cadastrar-padrinho">
                    <div class="div-input" id="input-nome">
                        <label for="nome_padrinho">Nome:</label>
                        <input type="text" name="nome_padrinho" id="nome_padrinho" placeholder="Digite o nome do padrinho">
                    </div>
                    
                    <div class="div-input" id="input-sobrenome">
                        <label for="sobrenome_padrinho">Sobrenome:</label>
                        <input type="text" name="sobrenome_padrinho" id="sobrenome_padrinho" placeholder="Digite o sobrenome do padrinho">
                    </div>
                    
                    <div class="div-input" id="input-telefone">
                        <label for="telefone_padrinho">Telefone:</label>
                        <input type="text" name="telefone_padrinho" id="telefone_padrinho" placeholder="Digite o telefone do padrinho">
                    </div>

                    <div class="div-input" id="input-email">
                        <label for="email_padrinho">Email:</label>
                        <input type="text" name="email_padrinho" id="email_padrinho" placeholder="Digite o email do padrinho">
                    </div>
                    
                    <button type="submit" id="btn-cadastrar-padrinho"><span>Cadastrar</span></button>
                </form>
            </div>

            <div id="padrinhos-frente" style="display: none;">
                <div class="btn-voltar btn2" onclick="resetarLayout()">
                    <div class="icon-voltar">
                        <i class="ri-arrow-left-s-line"></i>
                    </div>
                </div>

                <h1 id="padrinhos-cad">Padrinhos cadastrados</h1>

                <div id="padrinhos-fundo">
                </div>
            </div>
        </main>

        <!-- Ionicons -->
        <script  type="module"  src ="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" ></script> 
        <script  nomodule  src ="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <!-- jQuery Mask Plugin -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>

        <!-- Script do menu -->
        <script src="/static/scripts/menu_sistema.js"></script>
        
        <!-- Script principal -->
        <script src="/static/scripts/padrinhos_sistema.js"></script>
    </body>


</html>