@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'base';

header {
    nav {    
        .nav-mobile {
            .menu-hamburguer {
                &::before {
                    content: '';
                    width: 2em;
                    height: 3px;
                    background-color: var(--ciano);
                    position: absolute;
                    transition: 0.2s;
                    transform: translateY(-0.5em);
                    box-shadow: 0 0.5em 0 var(--ciano);
                }

                &::after {
                    content: '';
                    width: 2em;
                    height: 3px;
                    background-color: var(--ciano);
                    position: absolute;
                    transition: 0.2s;
                    transform: translateY(0.5em);
                }
            }

            .menu-ativo {
                &::before {
                    background-color: white;
                    transform: translateY(0px) rotate(45deg);
                    box-shadow: 0 0 0 white;
                }

                &::after {
                    background-color: white;
                    transform: translateY(0px) rotate(-45deg);
                    box-shadow: 0 0 0 white;
                }
            }
        }
    }
}