@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'base';

/* mobile first */

main {
    @include flex-properties();

    div {
        transition: display 2s ease-in-out;
    }

    #login {
        @include flex-properties($direction: column, $gap: 3em);
        height: 30em;
        width: 80%;
        background-color: white;
        border-radius: 1.2em;
        box-shadow: 0px 0px 25px -10px #000000;

        #topo {
            @include flex-properties($direction: column, $align: flex-start);
            width: 70%;

            h1 {
                font-size: 1.5em;
            }
        }

        form {
            @include flex-properties($direction: column, $gap: 3em);
            width: 70%;
            
            #inputs {
                @include flex-properties($direction: column, $gap: 1em);
                width: 100%;

                .input {
                    @include flex-properties();
                    width: 100%;
                    position: relative;
                    
                    input {
                        border: 1px solid rgb(215, 209, 209);
                        outline: none;
                        padding: 1em;
                        padding-left: 4em;
                        border-radius: 0.5em;
                        width: 100%;
                        height: 3.8em;
                        transition: border 0.1s ease-in-out;
    
                        &::placeholder {
                            font-size: 1.2em;
                            color: var(--placeholder);
                        }

                        &:focus {
                            border: 2px solid var(--ciano);
                        }
                    }

                    ion-icon {
                        width: 1.2em;
                        position: absolute;
                        left: 20px;
                        height: 100%;
                        @include flex-properties();
                        color: var(--placeholder);
                    }
                }
            }

            #ancoras {
                @include flex-properties($direction: column, $gap: 1em);
                width: 100%;

                #esqueci-a-senha {
                    a {
                        color: var(--placeholder);
                        text-decoration: none;
                        cursor: pointer;
                        transition: color 0.15s ease-in-out;

                        &:hover {
                            color: var(--ciano);
                        }
                    }
                }
            }

            #entrar {
                @include flex-properties();
                background-color: var(--laranja);
                border:none;
                outline: none;
                border-radius: 1.8em;
                padding: 0.8em;
                width: 100%;
                height: 3.2em;
                transition: background-color 0.2s ease-in-out;

                &:hover, &:active {
                    background-color: var(--laranja-interaction);
                    cursor: pointer;
                }

                a {
                    text-decoration: none;
                    color: white;
                    font-size: 1.2em;
                }
            }
       }
    }
}

header {
    nav {    
        .nav-mobile {
            .menu-hamburguer {
                &::before {
                    content: '';
                    width: 2em;
                    height: 3px;
                    background-color: var(--ciano);
                    position: absolute;
                    transition: 0.2s;
                    transform: translateY(-0.5em);
                    box-shadow: 0 0.5em 0 var(--ciano);
                }

                &::after {
                    content: '';
                    width: 2em;
                    height: 3px;
                    background-color: var(--ciano);
                    position: absolute;
                    transition: 0.2s;
                    transform: translateY(0.5em);
                }
            }

            .menu-ativo {
                &::before {
                    background-color: white;
                    transform: translateY(0px) rotate(45deg);
                    box-shadow: 0 0 0 white;
                }

                &::after {
                    background-color: white;
                    transform: translateY(0px) rotate(-45deg);
                    box-shadow: 0 0 0 white;
                }
            }
        }
    }
}


/* tablets */
@media screen and (min-width: 600px) and (max-width: 1024px) {
    main {
        padding: 8em 0 3em 0;
        
        #login {
            height: 30em;
            width: 70%;
            font-size: 1.4em;
        }
    }
}


/* desktops e laptops */
@media screen and (min-width: 1025px) {
    main {
        #login {
            height: 30em;
            width: 30em;

            #topo {
                h1 {
                    font-size: 1.8em;
                }
            }
        }
    }
}