@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --swiper-theme-color: white;
  /* --swiper-theme-color: var(--laranja); */
  /* --swiper-navigation-size: 24px; */
  --ciano: rgb(0,204,230);
  --ciano-interaction: rgb(0, 192, 218);
  --azul-claro: rgb(197, 241, 247);
  --ciano-escuro: rgb(0, 150, 170);
  --teste2: #CBEFF2;
  --teste3: #70BBC4;
  --teste4: rgb(13, 69, 80);
  --teste5: rgb(25, 126, 146);
  --teste6: rgb(24, 93, 107);
  --teste7: #02a1b3;
  --teste8: #9bdce4;
  --laranja: rgb(253,102,81);
  --laranja-interaction: #ff472f;
  --cinza-claro: #CBCBCB;
  --cinza-claro2: rgb(215, 209, 209);
  --cinza: #7A777E;
  --cinza-escuro: #1E1E1E;
  --placeholder: rgb(141, 138, 138);
}

* {
  font-family: "Poppins", sans-serif;
  color: var(--cinza-escuro);
  margin: 0px;
  padding: 0px;
  vertical-align: baseline;
  box-sizing: border-box;
}

main {
  background-color: #F3F4F6;
  min-height: 100vh;
  padding-top: 4em;
}

/* Swiper */
.swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  border: 2px solid white;
  opacity: 1;
  background: transparent;
}

.swiper-pagination-bullet-active {
  border: 2px solid white;
  background: white;
}

/* Header e footer */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0.5em 0;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 900;
  box-shadow: none;
  transition: background-color 0.3s ease-in-out;
}
header #ancora-logo-topo {
  display: none;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 2.5em;
}
header nav .nav-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  /* font-size: 0.95em; */
}
header nav .nav-mobile .menu-hamburguer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  cursor: pointer;
  position: relative;
  z-index: 1000;
  transition: 0.2s;
}
header nav .nav-mobile .menu-hamburguer::before {
  content: "";
  width: 2em;
  height: 3px;
  position: absolute;
  transition: 0.2s;
  transform: translateY(-0.5em);
}
header nav .nav-mobile .menu-hamburguer::after {
  content: "";
  width: 2em;
  height: 3px;
  position: absolute;
  transition: 0.2s;
  transform: translateY(0.5em);
}
header nav .nav-mobile .menu-ativo::before {
  transform: translateY(0px) rotate(45deg);
}
header nav .nav-mobile .menu-ativo::after {
  transform: translateY(0px) rotate(-45deg);
}
header nav .nav-mobile .menu-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--ciano);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 995;
}
header nav .nav-mobile .menu-mobile ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  list-style: none;
  font-size: 1.3em;
}
header nav .nav-mobile .menu-mobile span {
  padding: 5px 0;
  color: white;
  position: relative;
  transition: width 0.3s ease-in-out;
}
header nav .nav-mobile .menu-mobile span::after {
  width: 0;
  height: 2px;
  background-color: white;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width 0.2s ease-in-out;
}
header nav .nav-mobile .menu-mobile span:hover::after {
  width: 100%;
}
header nav .nav-mobile .logo {
  width: 8em;
  height: 1.3em;
  background-image: url("/static/imagens/logo_alternativa.png");
  background-size: contain;
  background-repeat: no-repeat;
}
header nav .nav-mobile .doe-agora {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6em;
  height: 2em;
  border-radius: 1.8em;
  background-color: var(--laranja);
  /* background-color: var(--ciano); */
}
header nav .nav-mobile .doe-agora span {
  font-size: 0.8em;
  color: white;
}
header nav .nav-mobile .hidden {
  display: none;
}
header nav .nav-desktop {
  display: none;
}

header.scrolled {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 12px;
}
header.scrolled nav .nav-mobile .logo {
  background-image: url("/static/imagens/logo3.png");
}
header.scrolled nav .nav-mobile .doe-agora a {
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 100%;
  height: auto;
  padding: 2em 0;
  background-color: var(--teste7);
  color: white;
}
footer h2, footer a, footer p, footer ion-icon {
  color: white;
}
footer #footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4em;
}
footer #footer-container #footer-ancoras {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2em;
}
footer #footer-container #footer-ancoras .footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5em;
}
footer #footer-container #footer-ancoras .footer-section ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5em;
  list-style: none;
}
footer #footer-container #footer-ancoras .footer-section ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
  position: relative;
}
footer #footer-container #footer-ancoras .footer-section ul li a:hover {
  transform: translateX(0.5em);
}
footer #footer-container #footer-ancoras .footer-section ul li a::after {
  width: 0;
  height: 2px;
  background-color: white;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width 0.3s ease-in-out;
}
footer #footer-container #footer-ancoras .footer-section ul li a:hover::after {
  width: 100%;
}
footer #footer-container #footer-ancoras .contato ul li a, footer #footer-container #footer-ancoras .redes-sociais ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
footer #footer-container #footer-ancoras .contato ul li a ion-icon, footer #footer-container #footer-ancoras .redes-sociais ul li a ion-icon {
  font-size: 1.5em;
}
footer #footer-container .logo_fundo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16em;
  height: 4em;
  background-color: transparent;
}
footer #footer-container .logo_fundo .logo {
  width: 100%;
  height: 100%;
  background-image: url("/static/imagens/logo_alternativa2.png");
  background-size: contain;
  background-repeat: no-repeat;
}
footer #footer-bottom {
  text-align: center;
}

/* celulares de tela pequena */
@media screen and (min-width: 320px) and (max-width: 370px) {
  header {
    font-size: 0.9em;
  }
}
/* tablets */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  header {
    font-size: 1.4em;
  }
}
/* desktops e laptops*/
@media screen and (min-width: 1025px) {
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: none;
  }
  header #ancora-logo-topo {
    display: block;
  }
  header #ancora-logo-topo .logo_fundo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 3em;
    background-color: transparent;
  }
  header #ancora-logo-topo .logo_fundo .logo {
    width: 100%;
    height: 2em;
    background-image: url("/static/imagens/logo_alternativa.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  header nav {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5em;
  }
  header nav .nav-mobile {
    display: none;
  }
  header nav .nav-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100em;
    width: 100%;
    height: 100%;
    padding: 0px 10px;
    font-family: "Poppins", sans-serif;
    font-size: 0.95em;
  }
  header nav .nav-desktop .como-ajudar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12em;
    height: 3em;
    outline: none;
    border: none;
    border-radius: 1.8em;
    /* padding: 0.8em; */
    background-color: var(--ciano);
    transition: background-color 0.2s ease-in-out;
  }
  header nav .nav-desktop .como-ajudar:hover, header nav .nav-desktop .como-ajudar:active {
    background-color: var(--ciano-interaction);
    cursor: pointer;
  }
  header nav .nav-desktop .como-ajudar a {
    padding: 0;
    color: white;
    font-size: 1.3em;
  }
  header nav .nav-desktop ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    list-style: none;
    font-size: 1.3em;
  }
  header nav .nav-desktop a {
    padding: 5px 0;
    text-decoration: none;
    color: white;
    position: relative;
    transition: width 0.3s ease-in-out;
    /* &:hover {
        color: #FE6651;
    } */
  }
  header nav .nav-desktop a::after {
    width: 0;
    height: 2px;
    background-color: white;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width 0.2s ease-in-out;
  }
  header nav .nav-desktop a:hover::after {
    width: 100%;
  }
  header nav .nav-desktop #btnComoAjudar:hover {
    color: white;
  }
  header nav .nav-desktop #btnComoAjudar:hover::after {
    width: 0; /* Define a largura como 0 para que nenhuma linha seja exibida */
  }
  header.scrolled {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 12px;
  }
  header.scrolled #ancora-logo-topo .logo_fundo .logo {
    background-image: url("/static/imagens/logo3.png");
  }
  header.scrolled nav .nav-desktop a {
    color: var(--cinza-escuro);
  }
  header.scrolled nav .nav-desktop a::after {
    background-color: var(--laranja);
  }
  header.scrolled nav .nav-desktop .como-ajudar a {
    color: white;
  }
  header.scrolled nav .nav-mobile .logo {
    background-image: url("/static/imagens/logo3.png");
  }
  header.scrolled nav .nav-mobile .doe-agora a {
    color: white;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }
  footer #footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
  }
  footer #footer-container #footer-ancoras {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 5em;
  }
}
.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

/* mobile first */
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
main div {
  transition: display 2s ease-in-out;
}
main #login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  height: 30em;
  width: 80%;
  background-color: white;
  border-radius: 1.2em;
  box-shadow: 0px 0px 25px -10px #000000;
}
main #login #topo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
}
main #login #topo h1 {
  font-size: 1.5em;
}
main #login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  width: 70%;
}
main #login form #inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
}
main #login form #inputs .input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
main #login form #inputs .input input {
  border: 1px solid rgb(215, 209, 209);
  outline: none;
  padding: 1em;
  padding-left: 4em;
  border-radius: 0.5em;
  width: 100%;
  height: 3.8em;
  transition: border 0.1s ease-in-out;
}
main #login form #inputs .input input::-moz-placeholder {
  font-size: 1.2em;
  color: var(--placeholder);
}
main #login form #inputs .input input::placeholder {
  font-size: 1.2em;
  color: var(--placeholder);
}
main #login form #inputs .input input:focus {
  border: 2px solid var(--ciano);
}
main #login form #inputs .input ion-icon {
  width: 1.2em;
  position: absolute;
  left: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--placeholder);
}
main #login form #ancoras {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
}
main #login form #ancoras #esqueci-a-senha a {
  color: var(--placeholder);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.15s ease-in-out;
}
main #login form #ancoras #esqueci-a-senha a:hover {
  color: var(--ciano);
}
main #login form #entrar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--laranja);
  border: none;
  outline: none;
  border-radius: 1.8em;
  padding: 0.8em;
  width: 100%;
  height: 3.2em;
  transition: background-color 0.2s ease-in-out;
}
main #login form #entrar:hover, main #login form #entrar:active {
  background-color: var(--laranja-interaction);
  cursor: pointer;
}
main #login form #entrar a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}

header nav .nav-mobile .menu-hamburguer::before {
  content: "";
  width: 2em;
  height: 3px;
  background-color: var(--ciano);
  position: absolute;
  transition: 0.2s;
  transform: translateY(-0.5em);
  box-shadow: 0 0.5em 0 var(--ciano);
}
header nav .nav-mobile .menu-hamburguer::after {
  content: "";
  width: 2em;
  height: 3px;
  background-color: var(--ciano);
  position: absolute;
  transition: 0.2s;
  transform: translateY(0.5em);
}
header nav .nav-mobile .menu-ativo::before {
  background-color: white;
  transform: translateY(0px) rotate(45deg);
  box-shadow: 0 0 0 white;
}
header nav .nav-mobile .menu-ativo::after {
  background-color: white;
  transform: translateY(0px) rotate(-45deg);
  box-shadow: 0 0 0 white;
}

/* tablets */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  main #login {
    height: 30em;
    width: 70%;
    font-size: 1.4em;
  }
}
/* desktops e laptops */
@media screen and (min-width: 1025px) {
  main #login {
    height: 30em;
    width: 30em;
  }
  main #login #topo h1 {
    font-size: 1.8em;
  }
}/*# sourceMappingURL=area_restrita.css.map */