:root {
  --swiper-theme-color: white;
  /* --swiper-theme-color: var(--laranja); */
  /* --swiper-navigation-size: 24px; */
  --ciano: rgb(0,204,230);
  --ciano-interaction: rgb(0, 192, 218);
  --azul-claro: rgb(197, 241, 247);
  --ciano-escuro: rgb(0, 150, 170);
  --teste2: #CBEFF2;
  --teste3: #70BBC4;
  --teste4: rgb(13, 69, 80);
  --teste5: rgb(25, 126, 146);
  --teste6: rgb(24, 93, 107);
  --teste7: #02a1b3;
  --teste8: #9bdce4;
  --laranja: rgb(253,102,81);
  --laranja-interaction: #ff472f;
  --cinza-claro: #CBCBCB;
  --cinza-claro2: rgb(215, 209, 209);
  --cinza: #7A777E;
  --cinza-escuro: #1E1E1E;
  --placeholder: rgb(141, 138, 138);
}

* {
  font-family: "Poppins", sans-serif;
  color: var(--cinza-escuro);
  margin: 0px;
  padding: 0px;
  vertical-align: baseline;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 100vh;
  background-color: #04C7EA;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 995;
}
header .menu-hamburguer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  margin-top: 1em;
  cursor: pointer;
  position: relative;
  z-index: 1000;
  transition: 0.2s;
}
header .menu-hamburguer::before {
  content: "";
  width: 2em;
  height: 3px;
  background-color: white;
  position: absolute;
  transition: 0.2s;
  transform: translateY(-0.5em);
  box-shadow: 0 0.5em 0 white;
}
header .menu-hamburguer::after {
  content: "";
  width: 2em;
  height: 3px;
  background-color: white;
  position: absolute;
  transition: 0.2s;
  transform: translateY(0.5em);
}
header .menu-ativo::before {
  background-color: white;
  transform: translateY(0px) rotate(45deg);
  box-shadow: 0 0 0 white;
}
header .menu-ativo::after {
  background-color: white;
  transform: translateY(0px) rotate(-45deg);
  box-shadow: 0 0 0 white;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 2em);
}
header nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2em;
  list-style: none;
}
header nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  text-decoration: none;
}
header nav ul li a i {
  color: white;
  font-size: 1.5em;
}
header nav ul li a img {
  width: 1.5em;
  height: 1.5em;
}
header nav ul li a span {
  display: none;
  color: white;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  height: 100vh;
  padding: 2em;
  margin-left: 3em;
  background-color: #F3F4F6;
  overflow-y: auto;
}

/* desktops e laptops*/
@media screen and (min-width: 1025px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15em;
  }
  header .menu-hamburguer {
    display: none;
  }
  header nav {
    height: 100vh;
  }
  header nav ul li a span {
    display: inline-block;
  }
  main {
    margin-left: 15em;
  }
}
header.menu-aberto {
  width: 15em;
}
header.menu-aberto nav ul li a span {
  display: inline-block;
}/*# sourceMappingURL=base_sistema.css.map */