@mixin flex-properties($display: flex, $direction: null, $justify: center, $align: center, $gap: null) {
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;

    @if $gap !=null {
        gap: $gap;
    }
}

:root {
    --swiper-theme-color: white;
    /* --swiper-theme-color: var(--laranja); */
    /* --swiper-navigation-size: 24px; */
    --ciano: rgb(0,204,230);
    --ciano-interaction: rgb(0, 192, 218);
    --azul-claro: rgb(197, 241, 247);
    --ciano-escuro: rgb(0, 150, 170);
    --teste2: #CBEFF2;
    --teste3: #70BBC4;
    --teste4: rgb(13, 69, 80);
    --teste5: rgb(25, 126, 146);
    --teste6:  rgb(24, 93, 107);
    --teste7: #02a1b3;
    --teste8: #9bdce4;
    --laranja: rgb(253,102,81);
    --laranja-interaction: #ff472f;
    --cinza-claro: #CBCBCB;
    --cinza-claro2: rgb(215, 209, 209);
    --cinza: #7A777E;
    --cinza-escuro: #1E1E1E;
    --placeholder: rgb(141, 138, 138);
}

* {
    font-family: "Poppins", sans-serif;
    color: var(--cinza-escuro);
    margin: 0px;
    padding: 0px;
    vertical-align: baseline;
    box-sizing: border-box;
}

main {
    background-color: #F3F4F6;
    min-height: 100vh;
    padding-top: 4em;
}


/* Swiper */

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    opacity: 1;
    background: transparent;
}

.swiper-pagination-bullet-active {
    border: 2px solid white;
    background: white;
}


/* Header e footer */

header {
    @include flex-properties($justify: space-around);
    width: 100%;
    padding: 0.5em 0;
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 900;
    box-shadow: none;
    transition: background-color 0.3s ease-in-out;

    #ancora-logo-topo {
        display: none;
    }

    nav {
        @include flex-properties();
        width: auto;
        height: 2.5em;
        
        .nav-mobile {
            @include flex-properties($justify: space-between, $gap: 2em);
            width: 100%;
            height: 100%;
            padding: 0.5em;
            /* font-size: 0.95em; */

            .menu-hamburguer {
                @include flex-properties();
                width: 2em;
                height: 2em;
                cursor: pointer;
                position: relative;
                z-index: 1000;
                transition: 0.2s;   

                &::before {
                    content: '';
                    width: 2em;
                    height: 3px;
                    position: absolute;
                    transition: 0.2s;
                    transform: translateY(-0.5em);
                }

                &::after {
                    content: '';
                    width: 2em;
                    height: 3px;
                    position: absolute;
                    transition: 0.2s;
                    transform: translateY(0.5em);
                }
            }

            .menu-ativo {
                &::before {
                    transform: translateY(0px) rotate(45deg);
                }

                &::after {
                    transform: translateY(0px) rotate(-45deg);
                }
            }

            .menu-mobile {
                @include flex-properties($direction: column);
                width: 100%;
                height: 100vh;
                background-color: var(--ciano);
                position: absolute;
                top: 0;
                left: 0;
                z-index: 995;

                ul {
                    @include flex-properties($direction: column, $gap: 1em);
                    list-style: none;
                    font-size: 1.3em;
                }

                span {
                    padding: 5px 0;
                    color: white;
                    position: relative;
                    transition: width 0.3s ease-in-out;
    
                    &::after {
                        width: 0;
                        height: 2px;
                        background-color: white;
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        transition: width 0.2s ease-in-out;
                    }
    
                    &:hover::after {
                        width: 100%;
                    }
                }
            }
    
            .logo {
                width: 8em;
                height: 1.3em;
                background-image: url('/static/imagens/logo_alternativa.png');
                background-size: contain;
                background-repeat: no-repeat; 
            }
    
            .doe-agora {
                @include flex-properties();
                width: 6em;
                height: 2em;
                border-radius: 1.8em;
                background-color: var(--laranja);
                /* background-color: var(--ciano); */
                
                span {
                    font-size: 0.8em;
                    color: white;
                }
            }

            .hidden {
                display: none;
            }
        }
    
        .nav-desktop {
            display: none;
        }
    }
}

header.scrolled {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 12px;

    nav {
        .nav-mobile {
            .logo {
                background-image: url('/static/imagens/logo3.png');
            }

            .doe-agora {
                a {
                    color: white;
                }
            }
        }
    }
}

footer {
    @include flex-properties($direction: column, $gap: 2em);  
    width: 100%;
    height: auto;
    padding: 2em 0;
    background-color: var(--teste7);
    color: white;

    h2, a, p, ion-icon {
        color: white;
    }

    #footer-container {
        @include flex-properties($direction: column, $gap: 4em);

        #footer-ancoras {
            @include flex-properties($direction: column, $align: flex-start, $gap: 2em);

            .footer-section {
                @include flex-properties($direction: column, $align: flex-start, $gap: 0.5em);

                ul {
                    @include flex-properties($direction: column, $align: flex-start, $gap: 0.5em);
                    list-style: none;
                    
                    li {
                        a {
                            @include flex-properties();
                            text-decoration: none;
                            transition: transform 0.3s ease-in-out;
                            position: relative;

                            &:hover {
                                transform: translateX(0.5em);
                            }

                            &::after {
                                width: 0;
                                height: 2px;
                                background-color: white;
                                content: '';
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                transition: width 0.3s ease-in-out;
                            }
            
                            &:hover::after {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .contato, .redes-sociais {              
                ul {
                    li {
                        a{
                            @include flex-properties($gap: 0.5em);
        
                            ion-icon {
                                font-size: 1.5em;
                            }
                        } 
                    }
                }
            } 
        }

        .logo_fundo {
            @include flex-properties();
            width: 16em;
            height: 4em;
            background-color: transparent;
    
            .logo {
                width: 100%;
                height: 100%;
                background-image: url('/static/imagens/logo_alternativa2.png');
                background-size: contain;
                background-repeat: no-repeat;                
            }
        }
    }

    #footer-bottom {
        text-align: center;
    }
}

/* celulares de tela pequena */
@media screen and (min-width: 320px) and (max-width: 370px) {
    header {
        font-size: 0.9em;
    }
}

/* tablets */
@media screen and (min-width: 600px) and (max-width: 1024px) {
    header {
        font-size: 1.4em;
    }
}

/* desktops e laptops*/
@media screen and (min-width: 1025px) {
    header {
        @include flex-properties($justify: space-around);
        width: 100%;
        background-color: transparent;
        position: fixed;
        top: 0;
        z-index: 1000;
        box-shadow: none;

        #ancora-logo-topo {
            display: block;

            .logo_fundo {
                @include flex-properties();
                width: 10em;
                height: 3em;
                background-color: transparent;
        
                .logo {
                    width: 100%;
                    height: 2em;
                    background-image: url('/static/imagens/logo_alternativa.png');
                    background-size: contain;
                    background-repeat: no-repeat; 
                }
            }
        }
    
        nav {
            width: auto;
            @include flex-properties();
            height: 2.5em;

            .nav-mobile {
                display: none;
            }

            .nav-desktop {
                @include flex-properties($gap: 100em);
                width: 100%;
                height: 100%;
                padding: 0px 10px;
                font-family: 'Poppins', sans-serif;
                font-size: 0.95em;
    
                .como-ajudar {
                    @include flex-properties();
                    width: 12em;
                    height: 3em;
                    outline: none;
                    border: none;
                    border-radius: 1.8em;
                    /* padding: 0.8em; */
                    background-color: var(--ciano);
                    transition: background-color 0.2s ease-in-out;
        
                    &:hover, &:active {
                        background-color: var(--ciano-interaction);
                        cursor: pointer;
                    }
        
                    a {
                        padding: 0;
                        color: white;
                        font-size: 1.3em;                   
                    }
                }
        
                ul {
                    @include flex-properties($gap: 3em);
                    list-style: none;
                    font-size: 1.3em;
                }
        
                a {
                    padding: 5px 0;
                    text-decoration: none;
                    color: white;
                    position: relative;
                    transition: width 0.3s ease-in-out;
    
                    /* &:hover {
                        color: #FE6651;
                    } */
    
                    &::after {
                        width: 0;
                        height: 2px;
                        background-color: white;
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        transition: width 0.2s ease-in-out;
                    }
    
                    &:hover::after {
                        width: 100%;
                    }
                }
    
                #btnComoAjudar {
                    &:hover {
                        color: white;
                    }
                    &:hover::after {
                        width: 0; /* Define a largura como 0 para que nenhuma linha seja exibida */
                    }
                }
            }
        }
    }

    header.scrolled {
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 12px;

        #ancora-logo-topo {
            .logo_fundo {
                .logo {
                    background-image: url('/static/imagens/logo3.png');
                }
            }
        }
        
        nav {
            .nav-desktop {
                a {
                    color: var(--cinza-escuro);

                    &::after {
                        background-color: var(--laranja);
                    }
                }
                .como-ajudar {
                    a {
                        color: white;
                    }
                }
            }

            .nav-mobile {
                .logo {
                    background-image: url('/static/imagens/logo3.png');
                }

                .doe-agora {
                    a {
                        color: white;
                    }
                }
            }
        }
    }
    
    footer {
        @include flex-properties($direction: column, $gap: 2em);
    
        #footer-container {
            @include flex-properties($direction: column, $gap: 3em);

            #footer-ancoras {
                @include flex-properties($direction: row, $gap: 5em, $align: flex-start);
            }
        }      
    }
}

.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
}