@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --swiper-theme-color: white;
  /* --swiper-theme-color: var(--laranja); */
  /* --swiper-navigation-size: 24px; */
  --ciano: rgb(0,204,230);
  --ciano-interaction: rgb(0, 192, 218);
  --azul-claro: rgb(197, 241, 247);
  --ciano-escuro: rgb(0, 150, 170);
  --teste2: #CBEFF2;
  --teste3: #70BBC4;
  --teste4: rgb(13, 69, 80);
  --teste5: rgb(25, 126, 146);
  --teste6: rgb(24, 93, 107);
  --teste7: #02a1b3;
  --teste8: #9bdce4;
  --laranja: rgb(253,102,81);
  --laranja-interaction: #ff472f;
  --cinza-claro: #CBCBCB;
  --cinza: #7A777E;
  --cinza-escuro: #1E1E1E;
  --placeholder: rgb(141, 138, 138);
}

* {
  font-family: "Poppins", sans-serif;
  color: var(--cinza-escuro);
  margin: 0px;
  padding: 0px;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* Swiper */
.swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  border: 2px solid white;
  opacity: 1;
  background: transparent;
}

.swiper-pagination-bullet-active {
  border: 2px solid white;
  background: white;
}

main {
  background-color: #F3F4F6;
  min-height: 100vh;
  padding-top: 4em;
}

/* Header e footer */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0.5em 0;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: none;
  transition: background-color 0.3s ease-in-out;
}
header #ancora-logo-topo {
  display: none;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 2.5em;
}
header nav .nav-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  /* font-size: 0.95em; */
}
header nav .nav-mobile .menu-hamburguer ion-icon {
  width: 2em;
  height: 2em;
  color: white;
  transition: background-color 0.3s ease-in-out;
}
header nav .nav-mobile .logo {
  width: 8em;
  height: 1.3em;
  background-image: url("/static/imagens/logo_alternativa.png");
  background-size: contain;
  background-repeat: no-repeat;
}
header nav .nav-mobile .doe-agora {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6em;
  height: 2em;
  border-radius: 1.8em;
  background-color: var(--laranja);
  /* background-color: var(--ciano); */
}
header nav .nav-mobile .doe-agora span {
  font-size: 0.8em;
  color: white;
}
header nav .nav-desktop {
  display: none;
}

header.scrolled {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 12px;
}
header.scrolled nav .nav-mobile .logo {
  background-image: url("/static/imagens/logo3.png");
}
header.scrolled nav .nav-mobile .menu-hamburguer ion-icon {
  color: var(--ciano);
}
header.scrolled nav .nav-mobile .doe-agora a {
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 100%;
  height: auto;
  padding: 2em 0;
  /* background-color: var(--cinza-escuro); */
  background-color: var(--teste7);
  color: white;
}
footer h2, footer a, footer p, footer ion-icon {
  color: white;
}
footer #footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4em;
}
footer #footer-container #footer-ancoras {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2em;
}
footer #footer-container #footer-ancoras .footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5em;
}
footer #footer-container #footer-ancoras .footer-section ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5em;
  list-style: none;
}
footer #footer-container #footer-ancoras .footer-section ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
  position: relative;
}
footer #footer-container #footer-ancoras .footer-section ul li a:hover {
  transform: translateX(0.5em);
}
footer #footer-container #footer-ancoras .footer-section ul li a::after {
  width: 0;
  height: 2px;
  background-color: white;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width 0.3s ease-in-out;
}
footer #footer-container #footer-ancoras .footer-section ul li a:hover::after {
  width: 100%;
}
footer #footer-container #footer-ancoras .contato ul li a, footer #footer-container #footer-ancoras .redes-sociais ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
footer #footer-container #footer-ancoras .contato ul li a ion-icon, footer #footer-container #footer-ancoras .redes-sociais ul li a ion-icon {
  font-size: 1.5em;
}
footer #footer-container .logo_fundo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16em;
  height: 4em;
  background-color: transparent;
}
footer #footer-container .logo_fundo .logo {
  width: 100%;
  height: 100%;
  background-image: url("/static/imagens/logo_alternativa2.png");
  background-size: contain;
  background-repeat: no-repeat;
}
footer #footer-bottom {
  text-align: center;
}

/* celulares de tela pequena */
@media screen and (min-width: 320px) and (max-width: 370px) {
  header {
    font-size: 0.9em;
  }
}
/* tablets */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  header {
    font-size: 1.4em;
  }
}
/* desktops e laptops*/
@media screen and (min-width: 1025px) {
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: none;
    /* &.scrolled {
        background-color: var(--ciano);
    } */
  }
  header #ancora-logo-topo {
    display: block;
  }
  header #ancora-logo-topo .logo_fundo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 3em;
    background-color: transparent;
  }
  header #ancora-logo-topo .logo_fundo .logo {
    width: 100%;
    height: 2em;
    background-image: url("/static/imagens/logo_alternativa.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  header nav {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5em;
  }
  header nav .nav-mobile {
    display: none;
  }
  header nav .nav-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100em;
    width: 100%;
    height: 100%;
    padding: 0px 10px;
    font-family: "Poppins", sans-serif;
    font-size: 0.95em;
  }
  header nav .nav-desktop .como-ajudar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12em;
    height: 3em;
    outline: none;
    border: none;
    border-radius: 1.8em;
    /* padding: 0.8em; */
    background-color: var(--ciano);
    transition: background-color 0.2s ease-in-out;
  }
  header nav .nav-desktop .como-ajudar:hover, header nav .nav-desktop .como-ajudar:active {
    background-color: var(--ciano-interaction);
    cursor: pointer;
  }
  header nav .nav-desktop .como-ajudar a {
    padding: 0;
    color: white;
    font-size: 1.3em;
  }
  header nav .nav-desktop ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    list-style: none;
    font-size: 1.3em;
  }
  header nav .nav-desktop a {
    padding: 5px 0;
    text-decoration: none;
    color: white;
    position: relative;
    transition: width 0.3s ease-in-out;
    /* &:hover {
        color: #FE6651;
    } */
  }
  header nav .nav-desktop a::after {
    width: 0;
    height: 2px;
    background-color: white;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width 0.2s ease-in-out;
  }
  header nav .nav-desktop a:hover::after {
    width: 100%;
  }
  header nav .nav-desktop #btnComoAjudar:hover {
    color: white;
  }
  header nav .nav-desktop #btnComoAjudar:hover::after {
    width: 0; /* Define a largura como 0 para que nenhuma linha seja exibida */
  }
  header.scrolled {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 12px;
    /* .como-ajudar {
        background-color: var(--laranja);
    } */
  }
  header.scrolled #ancora-logo-topo .logo_fundo .logo {
    background-image: url("/static/imagens/logo3.png");
  }
  header.scrolled nav .nav-desktop a {
    color: var(--cinza-escuro);
  }
  header.scrolled nav .nav-desktop a::after {
    background-color: var(--laranja);
  }
  header.scrolled nav .nav-desktop .como-ajudar a {
    color: white;
  }
  header.scrolled nav .nav-mobile .logo {
    background-image: url("/static/imagens/logo3.png");
  }
  header.scrolled nav .nav-mobile .doe-agora a {
    color: white;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }
  footer #footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
  }
  footer #footer-container #footer-ancoras {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 5em;
  }
}
/* mobile first */
main {
  padding-top: 0;
}
main #topo-main {
  width: 100%;
  min-height: 100vh;
  background-image: url("/static/imagens/topo_como-ajudar_mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
}
main #itens-essenciais {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 3em;
  position: relative;
}
main #itens-essenciais .topo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  z-index: 100;
}
main #itens-essenciais #categorias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  z-index: 100;
}
main #itens-essenciais #categorias #topo-categorias, main #itens-essenciais #categorias #fundo-categorias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 100%;
}
main #itens-essenciais #categorias #topo-categorias .categoria, main #itens-essenciais #categorias #fundo-categorias .categoria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 90%;
  height: 30em;
  padding: 1em;
  border-radius: 1.5em;
  background-color: white;
}
main #itens-essenciais #categorias #topo-categorias .categoria .introducao, main #itens-essenciais #categorias #fundo-categorias .categoria .introducao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
main #itens-essenciais #categorias #topo-categorias .categoria .introducao .icon, main #itens-essenciais #categorias #fundo-categorias .categoria .introducao .icon {
  padding: 1.5em;
  background-color: orange;
  border-radius: 50%;
}
main #itens-essenciais #categorias #topo-categorias .categoria .introducao .icon img, main #itens-essenciais #categorias #fundo-categorias .categoria .introducao .icon img {
  width: 5em;
  height: 5em;
}
main #itens-essenciais #categorias #topo-categorias .categoria .introducao h3, main #itens-essenciais #categorias #fundo-categorias .categoria .introducao h3 {
  text-align: center;
}
main #itens-essenciais #categorias #topo-categorias .categoria .detalhes-categoria, main #itens-essenciais #categorias #fundo-categorias .categoria .detalhes-categoria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
main #itens-essenciais #categorias #topo-categorias .categoria .detalhes-categoria p, main #itens-essenciais #categorias #fundo-categorias .categoria .detalhes-categoria p {
  text-align: center;
}
main #itens-essenciais #categorias #topo-categorias .categoria .detalhes-categoria ul, main #itens-essenciais #categorias #fundo-categorias .categoria .detalhes-categoria ul {
  width: 80%;
}
main #itens-essenciais #patas1 {
  width: 5em;
  position: absolute;
  top: 1em;
  right: 2em;
  z-index: 0;
}
main #itens-essenciais #patas2 {
  width: 5em;
  position: absolute;
  bottom: 1em;
  left: 2em;
  z-index: 0;
}
main #doar-dinheiro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 3em;
  background-color: var(--azul-claro);
}
main #doar-dinheiro .topo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
main #doar-dinheiro #sugestoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4em;
}
main #doar-dinheiro #sugestoes .sugestao {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  min-width: 16em;
  max-width: 20em;
  height: 16em;
  border-radius: 1em;
  background-color: white;
  position: relative;
}
main #doar-dinheiro #sugestoes .sugestao .topo-sugestao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
  height: 45%;
  padding: 2em;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  background-color: #57CDD7;
}
main #doar-dinheiro #sugestoes .sugestao .topo-sugestao .icon img {
  width: 4em;
  height: 4em;
}
main #doar-dinheiro #sugestoes .sugestao .descricao-sugestao {
  padding: 1em;
}
main #doar-dinheiro #sugestoes .sugestao .descricao-sugestao p {
  text-align: center;
}
main #doar-dinheiro #sugestoes .sugestao .doar-agora {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12em;
  height: 3em;
  outline: none;
  border: none;
  border-radius: 1em;
  background-color: var(--laranja);
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  bottom: -1.5em;
}
main #doar-dinheiro #sugestoes .sugestao .doar-agora:hover, main #doar-dinheiro #sugestoes .sugestao .doar-agora:active {
  background-color: var(--laranja-interaction);
  cursor: pointer;
}
main #doar-dinheiro #sugestoes .sugestao .doar-agora span {
  font-size: 1.2em;
  color: white;
}
main #doar-dinheiro #doar-valor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18em;
  height: 3em;
  margin-top: 3em;
  outline: none;
  border: none;
  border-radius: 1em;
  background-color: #009caa;
  transition: background-color 0.3s ease-in-out;
}
main #doar-dinheiro #doar-valor:hover, main #doar-dinheiro #doar-valor:active {
  background-color: var(--laranja-interaction);
  cursor: pointer;
}
main #doar-dinheiro #doar-valor span {
  font-size: 1.2em;
  color: white;
}
main #apadrinhar-ong {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 3em;
}
main #apadrinhar-ong #caricatura img {
  width: 25em;
}
main #apadrinhar-ong #sobre-apadrinhamento {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}
main #apadrinhar-ong #sobre-apadrinhamento #quero-apadrinhar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18em;
  height: 3em;
  margin-top: 3em;
  outline: none;
  border: none;
  border-radius: 1em;
  background-color: var(--laranja);
  transition: background-color 0.2s ease-in-out;
}
main #apadrinhar-ong #sobre-apadrinhamento #quero-apadrinhar:hover, main #apadrinhar-ong #sobre-apadrinhamento #quero-apadrinhar:active {
  background-color: var(--laranja-interaction);
  cursor: pointer;
}
main #apadrinhar-ong #sobre-apadrinhamento #quero-apadrinhar span {
  font-size: 1.2em;
  color: white;
}
main #h1-newsletter {
  grid-area: h1;
}
main form {
  grid-area: form;
}
main #newsletter {
  /* background-color: rgb(0, 153, 173); */
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas: "h1" "form";
  gap: 2em;
  height: auto;
  padding: 3em 1em;
  background-color: #007CAC;
}
main #newsletter h1 {
  display: inline-block;
  width: 80%;
  margin: auto;
  color: white;
}
main #newsletter form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
main #newsletter form #input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  position: relative;
}
main #newsletter form input {
  width: 20em;
  height: 3.8em;
  outline: none;
  border: none;
  border-radius: 0.5em;
  padding: 1em;
}
main #newsletter form input::-moz-placeholder {
  font-size: 1.2em;
}
main #newsletter form input::placeholder {
  font-size: 1.2em;
}
main #newsletter form #email {
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-top-right-radius: 1.9em;
  border-bottom-right-radius: 1.9em;
}
main #newsletter form .assinar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8em;
  height: 3.2em;
  outline: none;
  border: none;
  border-radius: 1.8em;
  padding: 0.8em;
  background-color: var(--laranja);
  position: absolute;
  top: 0;
  right: 0;
  transition: background-color 0.2s ease-in-out;
}
main #newsletter form .assinar:hover {
  background-color: var(--laranja-interaction);
  cursor: pointer;
}
main #newsletter form .assinar span {
  color: white;
  font-size: 1em;
}
main #newsletter form #nome-completo, main #newsletter form #email {
  transition: outline 0.1s ease-in-out;
}
main #newsletter form #nome-completo:focus, main #newsletter form #email:focus {
  outline: 3px solid var(--ciano);
}

/* tablets */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  main #topo-main {
    background-image: url("/static/imagens/topo_como-ajudar_tablets.png");
  }
}
/* desktops e laptops*/
@media screen and (min-width: 1025px) {
  main #topo-main {
    min-height: 700px;
    max-height: 700px;
    background-image: url("/static/imagens/topo_como-ajudar.png");
  }
  main #itens-essenciais .topo {
    z-index: 0;
  }
  main #itens-essenciais #categorias {
    z-index: 0;
  }
  main #itens-essenciais #categorias #topo-categorias, main #itens-essenciais #categorias #fundo-categorias {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3em;
  }
  main #itens-essenciais #categorias #topo-categorias .categoria, main #itens-essenciais #categorias #fundo-categorias .categoria {
    width: 22em;
    height: 30em;
  }
  main #itens-essenciais #categorias #topo-categorias .categoria .detalhes-categoria ul, main #itens-essenciais #categorias #fundo-categorias .categoria .detalhes-categoria ul {
    width: 100%;
  }
  main #itens-essenciais #patas1 {
    width: 7em;
    top: 3em;
    right: 2em;
  }
  main #itens-essenciais #patas2 {
    width: 7em;
    bottom: 3em;
    left: 2em;
  }
  main #doar-dinheiro #sugestoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }
  main #doar-dinheiro #sugestoes .sugestao {
    min-width: 16.5em;
    max-width: 16.5em;
    height: 16em;
  }
  main #apadrinhar-ong {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  main #apadrinhar-ong #caricatura img {
    width: 25em;
  }
  main #newsletter {
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: "h1 form";
    gap: 0;
    width: 100%;
    height: 400px;
  }
  main #newsletter h1 {
    width: 15em;
  }
  main #newsletter form input {
    width: 40em;
    height: 3.8em;
  }
  main #newsletter form input::-moz-placeholder {
    font-size: 1.2em;
  }
  main #newsletter form input::placeholder {
    font-size: 1.2em;
  }
}/*# sourceMappingURL=como_ajudar.css.map */