@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'base';

/* mobile first */

main {
    padding-top: 0;

    #topo-main {
        width: 100%;
        min-height: 100vh;
        background-image: url('/static/imagens/topo_como-ajudar_celular.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    #itens-essenciais {
        @include flex-properties($direction: column, $gap: 2em);
        padding: 3em;
        position: relative;

        .topo {
            @include flex-properties($direction: column, $gap: 2em);
            z-index: 100;
        }

        #categorias {
            @include flex-properties($direction: column, $gap: 2em);
            z-index: 100;

            #topo-categorias, #fundo-categorias {
                @include flex-properties($direction: column, $gap: 2em);
                width: 100%;

                .categoria {
                    @include flex-properties($direction: column, $gap: 2em);
                    width: 90%;
                    height: 30em;
                    padding: 1em;
                    border-radius: 1.5em;
                    background-color: white;

                    .introducao {
                        @include flex-properties($direction: column, $gap: 0.5em);

                        .icon {
                            padding: 1.5em;
                            background-color: orange;
                            border-radius: 50%;

                            img {
                                width: 5em;
                                height: 5em;
                            }
                        }

                        h3 {
                            text-align: center;
                        }
                    }     
    
                    .detalhes-categoria {
                        @include flex-properties($direction: column, $gap: 1em);

                        p {
                            text-align: center;
                        }

                        ul {
                            width: 80%;
                        }
                    }
                }
            }
        }

        #patas1 {
            width: 5em;
            position: absolute;
            top: 1em;
            right: 2em;
            z-index: 0;
        }
        #patas2 {
            width: 5em;
            position: absolute;
            bottom: 1em;
            left: 2em;
            z-index: 0;
        }
    }

    #doar-dinheiro {
        @include flex-properties($direction: column, $gap: 2em);
        padding: 3em;
        background-color: var(--azul-claro);

        .topo {
            @include flex-properties($direction: column, $gap: 2em);
        }

        #sugestoes {
            @include flex-properties($direction: column, $gap: 4em);

            .sugestao {
                @include flex-properties($direction: column, $justify: flex-start, $gap: 1em);
                min-width: 16em;
                max-width: 20em;
                height: 16em;
                border-radius: 1em;
                background-color: white;
                position: relative;

                .topo-sugestao {
                    @include flex-properties($gap: 1em);
                    width: 100%;
                    height: 45%;
                    padding: 2em;
                    border-top-right-radius: 1em;
                    border-top-left-radius: 1em;
                    background-color: #57CDD7;

                    .icon {
                        img {
                            width: 4em;
                            height: 4em;
                        }
                    }
                }

                .descricao-sugestao {
                    padding: 1em;
                    p {
                        text-align: center;
                    }
                }

                .doar-agora {
                    @include flex-properties();
                    width: 12em;
                    height: 3em;
                    outline: none;
                    border: none;
                    border-radius: 1em;
                    background-color: var(--laranja);
                    transition: background-color 0.2s ease-in-out;
                    position: absolute;
                    bottom: -1.5em;

                    &:hover, &:active {
                        background-color: var(--laranja-interaction);
                        cursor: pointer;
                    }
                    
                    a {
                        text-decoration: none;
                        font-size: 1.2em;
                        color: white;
                    }
                }
            }
        }

        #doar-valor {
            @include flex-properties();
            width: 18em;
            height: 3em;
            margin-top: 3em;
            outline: none;
            border: none;
            border-radius: 1em;
            background-color: #009caa;
            transition: background-color 0.3s ease-in-out;

            &:hover, &:active {
                background-color: var(--laranja-interaction);
                cursor: pointer;
            }
            
            a {
                text-decoration: none;
                font-size: 1.2em;
                color: white;
            }
        }
    }

    #apadrinhar-ong {
        @include flex-properties($direction: column, $gap: 1em);
        padding: 3em;

        #caricatura {
            img {
                width: 25em;
            }
        }

        #sobre-apadrinhamento {
            @include flex-properties($direction: column, $gap: 1.5em);

            #quero-apadrinhar {
                @include flex-properties();
                width: 18em;
                height: 3em;
                margin-top: 3em;
                outline: none;
                border: none;
                border-radius: 1em;
                background-color: var(--laranja);
                transition: background-color 0.2s ease-in-out;
    
                &:hover, &:active {
                    background-color: var(--laranja-interaction);
                    cursor: pointer;
                }

                a {
                    text-decoration: none;
                    font-size: 1.2em;
                    color: white;
                }
            }
        }
    }
}

header {
    nav {    
        .nav-mobile {
            .menu-hamburguer {
                &::before {
                    content: '';
                    width: 2em;
                    height: 3px;
                    background-color: var(--ciano);
                    position: absolute;
                    transition: 0.2s;
                    transform: translateY(-0.5em);
                    box-shadow: 0 0.5em 0 var(--ciano);
                }

                &::after {
                    content: '';
                    width: 2em;
                    height: 3px;
                    background-color: var(--ciano);
                    position: absolute;
                    transition: 0.2s;
                    transform: translateY(0.5em);
                }
            }

            .menu-ativo {
                &::before {
                    background-color: white;
                    transform: translateY(0px) rotate(45deg);
                    box-shadow: 0 0 0 white;
                }

                &::after {
                    background-color: white;
                    transform: translateY(0px) rotate(-45deg);
                    box-shadow: 0 0 0 white;
                }
            }
        }
    }
}


/* tablets */
@media screen and (min-width: 600px) and (max-width: 1024px) {
    main {
            
        #topo-main {
            background-image: url('/static/imagens/topo_como-ajudar_tablets.png');
        }
    }
}


/* desktops e laptops*/
@media screen and (min-width: 1025px) {
    main {
        #topo-main {
            min-height: 700px;
            max-height: 700px;
            background-image: url('/static/imagens/topo_como-ajudar.png');
        }

        #itens-essenciais {   
            .topo {
                z-index: 0;
            }
    
            #categorias {
                z-index: 0;

                #topo-categorias, #fundo-categorias {
                    @include flex-properties($direction: row, $gap: 3em);
    
                    .categoria {
                        width: 22em;
                        height: 30em;    
        
                        .detalhes-categoria {
                            ul {
                                width: 100%;
                            }
                        }
                    }
                }
            }
    
            #patas1 {
                width: 7em;
                top: 3em;
                right: 2em;
            }
            #patas2 {
                width: 7em;
                bottom: 3em;
                left: 2em;
            }
        }

        #doar-dinheiro {     
            #sugestoes {
                @include flex-properties($direction: row, $gap: 2em);
    
                .sugestao {
                    min-width: 16.5em;
                    max-width: 16.5em;
                    height: 16em;
                }
            }
        }

        #apadrinhar-ong {
            @include flex-properties($direction: row, $gap: null);

            #caricatura {
                img {
                    width: 25em;
                }
            }
        }
    }
}