@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'base';

/* mobile first */

main {
    padding-top: 3em;
    @include flex-properties();

    p {
        display: inline-block;
    }

    .doacao {
        @include flex-properties($direction: column, $gap: 3em);
        width: 100%;
        min-height: 100vh;
        padding: 2em;
        border-radius: 0;
        background-color: white;

        h2 {
            text-align: center;
        }

        #valor-doacao {
            @include flex-properties($direction: column, $gap: 0.5em);
            width: 100%;

            #valor {
                @include flex-properties($gap: 0.5em);
                width: 8em;
                padding: 0.5em;
                border: 1px solid rgb(215, 209, 209);
                border-radius: 1em;
                transition: border-color 0.1s ease-in-out;

                &:focus-within {
                    border: 2px solid var(--ciano);
                }

                p {
                    font-size: 1.1em;
                }

                input {
                    width: 3em;
                    outline: none;
                    border: none;
                    font-size: 1em;
                }
            }

            .erro-valor {
                color: red;
            }

            .off {
                display: none;
            }
        }

        #forma-pagamento {
            @include flex-properties($direction: column, $gap: 0.5em);
            width: 100%;

            #formas-pagamento{
                width: 100%;
                border: 1px solid rgb(215, 209, 209);
                border-radius: 0.8em;

                .opcao {
                    @include flex-properties($direction: column, $align: null, $gap: 1em);
                    padding: 1em 1.5em;

                    .opcao-topo {
                        @include flex-properties($direction: row, $justify: null, $gap: 1em);

                        input[type="radio"] {
                            display: none;
    
                            + label:before {
                                display: inline-block;
                                width: 1.2em;
                                height: 1.2em;
                                border: 1px solid gray;
                                border-radius: 50%;
                                background-color: white;
                                content: '';
                                box-sizing: border-box;
                                cursor: pointer;
                            }
    
                            &:checked + label:before {
                                background-color: var(--ciano);
                                outline: 1px solid var(--ciano);
                                border: 3px solid white;
                                box-sizing: border-box;
                            }
                        }
                     
                        label {
                            @include flex-properties($gap: 0.5em);
        
                            svg {
                                width: 2em;
                            }
        
                            #icon-boleto {
                                display: inline-block;
                                height: 2em;
        
                                img {
                                    width: 2em;
                                }
                            }
                        }
                    }
                }

                /* #opcao1 {
                    border-bottom: 1px solid rgb(215, 209, 209);
                } */
            }
        }

        #doar {
            @include flex-properties();
            width: 100%;
            height: 3.2em;
            outline: none;
            border: none;
            border-radius: 1.8em;
            padding: 0.8em;
            background-color: var(--laranja);
            transition: background-color 0.2s ease-in-out;

            &:hover, &:active {
                background-color: var(--laranja-interaction);
                cursor: pointer;
            }

            span {
                color: white;
                font-size: 1.2em;
            }
        }
    }

    .pix-pagamento {
        @include flex-properties($direction: column, $align:null, $gap: 3em);
        width: 100%;
        min-height: 100vh;
        padding: 2em;
        border-radius: 0;
        background-color: white;

        h2, h3 {
            text-align: center;
        }

        #infos-pagamento {
            @include flex-properties($direction: column, $align: null,  $gap: 0.5em);

            .info-pagamento {
                display: grid;
                grid-template-columns: 15em auto;
                grid-template-rows: auto;
                grid-template-areas: "descricao valor";

                .descricao {
                    grid-area: 'descricao';
                }
                .valor-total {
                    grid-area: 'valor';
                }

                .valor {
                    text-align: right;
                }
            }

            .linha {
                width: 100%;
                height: 1px;
                background-color: var(--cinza-claro2);
            }
        }

        #info-pix {
            @include flex-properties($direction: column, $gap: 1em);

            ol {
                @include flex-properties($direction: column, $gap: 1em);
                width: 80%;

                li {
                    text-align: center;
                }
            }

            #qr-code {
                width: 15em;
                height: 15em;

                img {
                    width: 15em;
                }
            }

            #copia-cola {
                @include flex-properties($align: flex-end, $gap: 1em);

                #pix-codigo {
                    @include flex-properties($direction: column, $gap: 0.3em);
                    width: 50%;

                    #codigo-pix {
                        border: 1px solid rgb(215, 209, 209);
                        outline: none;
                        padding: 1em;
                        border-radius: 0.5em;
                        width: 100%;
                        height: 3em;
                        transition: border 0.1s ease-in-out;
    
                        &::placeholder {
                            font-size: 1.2em;
                            color: var(--placeholder);
                        }

                        &:focus {
                            border: 2px solid var(--ciano);
                        }
                    }
                }

                #copiar-pix {
                    @include flex-properties($gap: 0.8em);
                    width: 10em;
                    height: 3em;
                    outline: none;
                    border: none;
                    border-radius: 1.5em;
                    padding: 0.8em;
                    background-color: var(--laranja);
                    transition: background-color 0.2s ease-in-out;

                    &:hover, &:active {
                        background-color: var(--laranja-interaction);
                        cursor: pointer;
                    }

                    ion-icon {
                        color: white;
                        font-size: 1.5em;
                    }

                    span {
                        color: white;
                        font-size: 1.2em;
                    }
                }
            }
        }
    }

    .off {
        display: none;
    }
}

header {
    nav {    
        .nav-mobile {
            .menu-hamburguer {
                &::before {
                    content: '';
                    width: 2em;
                    height: 3px;
                    background-color: var(--ciano);
                    position: absolute;
                    transition: 0.2s;
                    transform: translateY(-0.5em);
                    box-shadow: 0 0.5em 0 var(--ciano);
                }

                &::after {
                    content: '';
                    width: 2em;
                    height: 3px;
                    background-color: var(--ciano);
                    position: absolute;
                    transition: 0.2s;
                    transform: translateY(0.5em);
                }
            }

            .menu-ativo {
                &::before {
                    background-color: white;
                    transform: translateY(0px) rotate(45deg);
                    box-shadow: 0 0 0 white;
                }

                &::after {
                    background-color: white;
                    transform: translateY(0px) rotate(-45deg);
                    box-shadow: 0 0 0 white;
                }
            }
        }
    }
}

/* header.scrolled {
    nav {
        .nav-mobile {
            .menu-hamburguer {
                &::before {
                    background-color: var(--ciano);
                    box-shadow: 0 0.5em 0 var(--ciano);
                }

                &::after {
                    background-color: var(--ciano);
                }
            }
            
            .menu-ativo {
                &::before {
                    box-shadow: 0 0 0 var(--ciano);
                }

                &::after {
                    box-shadow: 0 0 0 var(--ciano);
                }
            }
        }
    }
} */

/* desktops e laptops */
@media screen and (min-width: 1025px) {
    main {
        padding-top: 7em;
        padding-bottom: 3em;

        .doacao, .pix-pagamento {
            width: 30em;
            border-radius: 1.2em;
        }

        .doacao {
            min-height: 35em;
        }

        .pix-pagamento {
            @include flex-properties($direction: column, $align: null, $gap: 3em);
            min-height: 60em;
            padding: 0 2em;
        }

        .off {
            display: none;
        }
    }
}