@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --swiper-theme-color: white;
  /* --swiper-theme-color: var(--laranja); */
  /* --swiper-navigation-size: 24px; */
  --ciano: rgb(0,204,230);
  --ciano-interaction: rgb(0, 192, 218);
  --azul-claro: rgb(197, 241, 247);
  --ciano-escuro: rgb(0, 150, 170);
  --teste2: #CBEFF2;
  --teste3: #70BBC4;
  --teste4: rgb(13, 69, 80);
  --teste5: rgb(25, 126, 146);
  --teste6: rgb(24, 93, 107);
  --teste7: #02a1b3;
  --teste8: #9bdce4;
  --laranja: rgb(253,102,81);
  --laranja-interaction: #ff472f;
  --cinza-claro: #CBCBCB;
  --cinza-claro2: rgb(215, 209, 209);
  --cinza: #7A777E;
  --cinza-escuro: #1E1E1E;
  --placeholder: rgb(141, 138, 138);
}

* {
  font-family: "Poppins", sans-serif;
  color: var(--cinza-escuro);
  margin: 0px;
  padding: 0px;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15em;
  min-height: 100vh;
  background-color: #04C7EA;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
header nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2em;
  list-style: none;
}
header nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
header nav ul li i {
  font-size: 1.5em;
}
header nav ul li img {
  width: 1.5em;
  height: 1.5em;
}
header nav ul li a {
  text-decoration: none;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 0;
  background-color: white;
  /* background-color: #F3F4F6; */
}
main .titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2em;
}
main .tabelas {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: 25em;
  background-color: #FF8F80;
  border-radius: 12px;
}
main .tabelas .dog .h2-autenticacao, main .tabelas .des .h2-autenticacao {
  padding-bottom: 2rem;
  color: white;
}
main .tabelas .dog img, main .tabelas .des img {
  width: 90%;
  position: relative;
  transition: transform 0.5s;
  border-radius: 15%;
}
main .tabelas .dog img:hover, main .tabelas .des img:hover {
  transform: scale(1.1);
}
main .tabelas .dog {
  /* background-image: url('/static/imgs/cachorro.png'); */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: 100%; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 200px;
  width: 25%;
  border-radius: 22px;
}
main .tabelas .des {
  /* background-image: url('/static/imgs/des.jpg');
  background-position: center;
  background-repeat: no-repeat; */
  text-align: center;
  /* background-size: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 200px;
  width: 25%;
  border-radius: 22px;
}/*# sourceMappingURL=home_sistema.css.map */