@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'base';

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
}

@media screen and (max-width: 1024px) {
    .nav-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 12px;

        .menu-hamburguer ion-icon {
            width: 2em;
            height: 2em;
            color: rgb(0,204,230);
        }

        .logo {
            background-image: url('/static/imagens/logo3.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 8em;
            height: 1.3em;
        }

        .doe-agora {
            @include flex-properties();
            width: 6em;
            height: 2em;
            background-color: rgb(253,102,81);
            /* background-color: rgb(0,204,230); */
            border-radius: 0.6em;
            color: white;

            span {
                font-size: 0.9em;
            }
        }
    }

    .nav-desktop {
        display: none;
    }

    main {
        padding-top: 1.5em;
    }

    .swiper {
        margin: auto;
        width: 90%;
        height: 20em;
        border-radius: 1em;
    }

    .swiper-button-prev, .swiper-button-next {
        display: none;
    }
}

@media screen and (min-width: 1025px) {
    .nav-mobile {
        display: none;
    }

    header {
        @include flex-properties($direction: column);
        background-color: rgb(0,204,230);
        height: 28vh;
    
        .logo_fundo {
            @include flex-properties();
            height: 8em;
            width: 100%;
            background-color: white;
    
            .logo {
                background-image: url('/static/imagens/logo.png');
                background-size: cover;
                width: 13em;
                height: 8em;
    
            }
        }
    
        nav {
            @include flex-properties();
            width: 100%;
            height: 3em;
        }
        .nav-desktop {
            @include flex-properties($gap: 100em);
            padding: 0px 10px;
            font-family: 'Poppins', sans-serif;
            font-size: 0.95em;
    
            ul {
                display: flex;
                list-style: none;
                font-size: 1.3em;
                gap: 3em;
            }
    
            a {
                text-decoration: none;
                color: white;
    
                &:hover {
                    color: #FE6651;
                }
            }
        }
    }

    main {
        @include flex-properties($direction: column, $justify: null);
        padding-top: 0em;
    }

    .swiper {
        width: 100%;
        height: 400px;
    }

    .swiper-button-prev, .swiper-button-next {
        display: block;
    }
}

:root {
    --swiper-theme-color: rgb(253,102,81);
    /* --swiper-navigation-size: 24px; */
}