@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'base_sistema';

/* mobile first */

main {
    #menu-padrinho {
        @include flex-properties($direction: column, $gap: 2em);

        #opcoes {
            @include flex-properties($direction: column, $gap: 1.5em);

            button {
                @include flex-properties();
                width: 20em;
                height: 3.2em;
                padding: 1em;
                outline: none;
                border: none;
                border-radius: 1.8em;
                background-color: var(--laranja);
                transition: background-color 0.2s ease-in-out;
        
                &:hover, &:active {
                    background-color: var(--laranja-interaction);
                    cursor: pointer;
                }
        
                span {
                    color: white;
                    font-size: 1.2em;
                }
            }
        }
    }
    
    #cadastrar-padrinho {
        @include flex-properties($direction: column, $gap: 2em);
        width: 100%;
        padding-top: 12em;
        position: relative;

        #form-cadastrar-padrinho {
            @include flex-properties($direction: column, $gap: 2em);
            width: 100%;
    
            .div-input {
                display: grid;
                grid-template-columns: 3em auto;
                grid-template-rows: auto;
                gap: 2em;
                width: 100%;
    
                label {
                    @include flex-properties($justify: flex-end);
                }
    
                input, textarea {
                    padding: 1em;
                    outline: none;
                    border: 1px solid rgb(215, 209, 209);
                    border-radius: 0.5em;
                    transition: border 0.1s ease-in-out;
            
                    &::placeholder {
                        font-size: 1.2em;
                        color: var(--placeholder);
                    }
            
                    &:focus {
                        border: 2px solid var(--ciano);
                    }
                }
            
                input {
                    height: 3em;
                }
            
                textarea {
                    height: 15em; 
                }
            }
    
            #btn-cadastrar-padrinho {
                @include flex-properties();
                width: 100%;
                height: 3.2em;
                padding: 0.8em;
                outline: none;
                border: none;             
                border-radius: 1.8em;
                background-color: var(--laranja);
                transition: background-color 0.2s ease-in-out;
        
                &:hover, &:active {
                    background-color: var(--laranja-interaction);
                    cursor: pointer;
                }
        
                span {
                    color: white;
                    font-size: 1.2em;
                }
            }
        }

        .btn1 {
            top: 7em;
            left: 0;
        }
    }
    
    #padrinhos-frente {
        @include flex-properties($direction: column, $gap: 2em);
        padding-top: 4em;
        overflow-y: auto;
        position: relative;
        
        #padrinhos-fundo {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 2em;
            overflow-y: auto;
            /* width: 100%; */

            #dados-padrinho {
                @include flex-properties($direction: column, $justify: flex-start, $gap: 1em);
                width: 16em;
                padding: 2em;
                border-radius: 1em;
                background-color: white;
                margin: auto;

                h3 {
                    width: 100%;
                    text-align: center;
                }

                #lista {
                    width: 100%;
                    list-style: none;

                    li {
                        margin-bottom: 10px;
                        word-wrap: break-word;
                    }
                }
                
                #excluir {
                    @include flex-properties();
                    width: 100%;
                    height: 3.2em;
                    padding: 1em;
                    outline: none;
                    border:none;
                    border-radius: 1.8em;
                    background-color: var(--laranja);
                    transition: background-color 0.2s ease-in-out;
            
                    &:hover, &:active {
                        background-color: var(--laranja-interaction);
                        cursor: pointer;
                    }
            
                    span {
                        color: white;
                        font-size: 1.2em;
                    }
                }
            }
        }

        .btn2 {
            top: 0;
            left: 0;
        }
    }

    .btn-voltar {
        @include flex-properties();
        position: absolute;

        .icon-voltar {
            @include flex-properties;
            width: 3em;
            height: 3em;
            background-color: #ECECEC;
            border-radius: 50%;
            transition: background-color 0.2s ease-in-out;
            
            &:hover, &:active {
                background-color: var(--cinza-claro);
                cursor: pointer;
            }

            i {
                font-size: 1.6em;
            }
        }
    }
}


/* tablets */
@media screen and (min-width: 600px) and (max-width: 1024px) {
    header {
        font-size: 1.2em;
    }
    
    main {
        #cadastrar-padrinho {
            width: 70%;

            #form-cadastrar-padrinho {       
                .div-input {
                    grid-template-columns: 6em auto;
                    gap: 2em;
        
                    label {
                        @include flex-properties($justify: flex-end);
                    }
                }
            }
        }

        #padrinhos-frente {
            width: 80%;
        }
    }
}


/* desktops e laptops*/
@media screen and (min-width: 1025px) {
    main {      
        #cadastrar-padrinho {
            width: 50%;
            padding-top: 0;
    
            #form-cadastrar-padrinho {
                .div-input {
                    grid-template-columns: 6em auto;
        
                    label {
                        @include flex-properties($justify: flex-end);
                    }
                }
            }

            .btn1 {
                top: 0;
                left: 0;
            }
        }
        
        #padrinhos-frente {
            min-width: 50%;
            padding-top: 0;
            overflow-y: visible;
          
            #padrinhos-fundo {
                overflow-y: visible;
            }
        }
    }
}