@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'base';

header {
    nav {    
        .nav-mobile {
            .menu-hamburguer {
                &::before {
                    content: '';
                    width: 2em;
                    height: 3px;
                    background-color: var(--ciano);
                    position: absolute;
                    transition: 0.2s;
                    transform: translateY(-0.5em);
                    box-shadow: 0 0.5em 0 var(--ciano);
                }

                &::after {
                    content: '';
                    width: 2em;
                    height: 3px;
                    background-color: var(--ciano);
                    position: absolute;
                    transition: 0.2s;
                    transform: translateY(0.5em);
                }
            }

            .menu-ativo {
                &::before {
                    background-color: white;
                    transform: translateY(0px) rotate(45deg);
                    box-shadow: 0 0 0 white;
                }

                &::after {
                    background-color: white;
                    transform: translateY(0px) rotate(-45deg);
                    box-shadow: 0 0 0 white;
                }
            }
        }
    }
}

/* mobile first */

main {
    padding-top: 3.5em;

    #nossa-historia {
        @include flex-properties($direction: column);
        width: 100%;

        .imagem {
             display: none;
        }

        .swiper {
            width: 100%;
        }

        .swiper-slide {
            overflow: hidden;

            #img3 {
                width: 130%;
            }
            #img4 {
                width: 135%;
            }
        }

        .texto {
            @include flex-properties($direction: column, $align: flex-end, $gap: 1em);
            padding: 3em;
            text-align: justify;
        }
    }
}


/* desktops e laptops */
@media screen and (min-width: 1025px) {
    main {   
        #nossa-historia {
            @include flex-properties($direction: row);
    
            .imagem {
                @include flex-properties($direction: column);
                width: 50%;
    
                img {
                    width: 100%;
                }
            }

            .swiper {
                display: none;
            }
    
            .texto {
                @include flex-properties($direction: column, $align: flex-end, $gap: 2em);
                width: 50%;
                padding: 0 3em;
            }
        }
    }
}