*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menssagem{
    background-color: black;
    color:red;
    width: auto;
    height: 5vh;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 40%;
    display: grid;
    place-content: center;
}


